.works-row-after {
  background: $cream-3;
}
@keyframes down {
  0% {
    transform: scale(1) translate(0,0);
  }
  50% {
    transform: scale(1) translate(0,0.5rem);
  }
  100% {
    transform: scale(1) translate(0,0);
  }
}
.v-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .6;
  z-index: 1;
}
.head-work-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.all-works {
  position: absolute;
  display: none;
  visibility: hidden;
  overflow: hidden;
  height: 0;
}
.case-menu {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 1000;
  color: $white;
  font-weight: 600;
  font-size: $p5;
  line-height: 1.3;
  text-align: center;
  transition: top .5s, opacity .5s;
  .logged-in & {
    top: 32px;
  }
}
.navi-active {
  .case-menu {
    opacity: 0;
  }
}
.header-scrolled {
  .showed .case-menu-in {
    margin: 2rem 0;
  }
}
#header.scrolled.temp {
  + {
    #navi {
      + {
        .site-content {
          .case-menu {
            top: 3.7rem;
          }
          .case-menu-in {
            .works-back {
              em {
                color: $white;
                &:before {
                  color: $white;
                }
              }
            }
            strong {
              em {
                color: $white;
                &:before {
                  color: $white;
                }
                &:after {
                  color: $white;
                }
              }
            }
          }
        }
      }
    }
  }
}
.showed {
  .case-menu-in {
    margin: 2.5rem 0;
    transform: translate(0%,0);
  }
}
.case-menu-in {
  transition: transform .5s, margin .35s;
  transform: translate(0%,-100%);
  overflow: hidden;
  .works-back {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    min-width: 100px;
    padding-left: 40px;
    overflow: hidden;
    text-decoration: none;
    &:before {
      background: url(../../images/sprite.png) no-repeat 0 -586px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -6px;
      content: '';
      width: 31px;
      height: 11px;
    }
    &:hover {
      em {
        transform: translate(0px, -100%);
      }
    }
    em {
      display: block;
      position: relative;
      letter-spacing: 1px;
      color: #fff;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 21px;
      font-style: normal;
      transition: transform .5s;
      white-space: nowrap;
      text-align: left;
      &:before {
        content: attr(data-hover);
        font-weight: normal;
        position: absolute;
        top: 100%;
        transform: translate3d(0px, 0px, 0px);
        color: #fff;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 21px;
        font-family: $s;
      }
    }
  }
  strong {
    font-weight: 600;
    line-height: 3rem;
    padding: 0 3rem;
    display: inline-block;
    text-align: center;
    letter-spacing: 1px;
    min-width: 14rem;
    em {
      font-style: normal;
      display: block;
      transition: transform .5s;
      position: relative;
      &:before,
      &:after {
        content: attr(data-hover-prev);
        font-weight: normal;
        position: absolute;
        transform: translate3d(0px, 9px, 0px);
        color: $white;
        font-weight: 400;
        font-size: $p3;
        line-height: 1.2;
        white-space: nowrap;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        line-height: 0;
        font-family: $s;
      }
      &:after {
        content: attr(data-hover-next);
        bottom: auto;
        top: 0;
        transform: translate3d(0px, -16px, 0px);
      }
    }
  }
  .prev {
    &:hover {
      + {
        .next {
          + {
            strong {
              em {
                transform: translate3d(0px, -27px, 0px);
              }
            }
          }
        }
      }
    }
  }
  .next {
    &:hover {
      + {
        strong {
          em {
            transform: translate3d(0px, 29px, 0px);
          }
        }
      }
    }
  }
}

.prev-next-links {
  display: inline-block;
  padding-right: 3.1rem;
  padding-left: 3.1rem;
  position: relative;
  .next,
  .prev {
    background: rgba(33, 11, 57, 0.50);;
    display: inline-block;
    border-radius: 50%;
    content: '';
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    position: absolute;
    right: 0;
    top: 0;
    left: auto;
    &:after {
      position: absolute;
      width: 2.1rem;
      height: 1.6rem;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" viewBox="0 0 21 16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M20.0275 8.68573H20.2994V7.45719H20.0291L20.016 7.45392C19.9348 7.43316 19.8539 7.41146 19.7732 7.3888C19.4742 7.3045 19.1776 7.21192 18.8837 7.11116C18.1396 6.85726 17.1433 6.46413 16.1265 5.90719C14.0629 4.77694 12.0715 3.06191 11.7124 0.607714L11.6235 0L10.4081 0.177728L10.4969 0.785442C10.9421 3.82893 13.3758 5.80154 15.5364 6.98462C15.8509 7.15661 16.1629 7.31427 16.4664 7.45719L0.700195 7.45719L0.700195 8.68573L16.303 8.68573C15.9511 8.84302 15.6043 9.01156 15.2632 9.19106C13.0314 10.368 10.5211 12.3484 10.4904 15.3734L10.4842 15.9877L11.7128 16L11.7189 15.3857C11.7418 13.1015 13.6559 11.4274 15.8361 10.2779C16.8992 9.71687 17.966 9.31391 18.7707 9.0506C19.172 8.91956 19.5053 8.82332 19.7371 8.76108C19.8336 8.73485 19.9304 8.70973 20.0275 8.68573Z" fill="white"/></svg>') no-repeat 50% 50%;
    }
  }
  .prev {
    right: auto;
    left: 0;
    transform: scaleX(-1);
  }
}
.case-study-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 10;
  color: $white;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: $white;
    opacity: 0;
  }
  h2, h1, .h2 {
    opacity: 0;
    transform: translate(0, 7rem);
    position: absolute;
    top: 45%;
    margin-top: -5rem;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    transition: transform 0.5s ease-in, opacity 0.5s ease-in;
  }
  h1 {
    &:before {
      width: 100px;
      height: 1px;
      content: '';
      background: #f3c17d;
      position: absolute;
      bottom: -2.6rem;
      left: 50%;
      margin-left: -50px;
    }
  }
  >.inner {
    height: 100%;
    max-width: 1460px;
  }
  .progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    z-index: 10;
    transition: opacity .2s , visibility .2s;
    b {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 0;
      transition: width 3s linear 1s , opacity .2s ease 4s;
      background: $purple-4;
    }
  }
  .progress.show {
    b {
      width: 100%;
      opacity: 0;
    }
  }
  .col {
    p {
      font-size: $p3;
      font-weight: normal;
      line-height: 1.4;
      transform: translate(0, 5rem);
      transition: transform 0.4s ease-in .4s, opacity 0.4s ease-in .4s;
      b {
        display: block;
        margin-bottom: 3rem;
        img {
          max-width: 41%;
          height: auto;
        }
      }
      em {
        display: block;
        font-size: $p5;
        padding-top: 2rem;
        font-style: normal;
      }
    }
    position: relative;
    float: left;
    height: 0;
    width: 33%;
    box-shadow: none;
    box-sizing: border-box;
    padding: 0 2.5%;
    margin-left: 7%;
    overflow: hidden;
    .col-in {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: transform .35s;
      &-text {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 7rem 7rem;
      }
    }
    img {
      display: block;
      margin-bottom: 2rem;
    }
  }
  a {
    color: #fff;
  }
  .work-down {
    opacity: 0;
    transition: opacity 0.4s ease-in .4s;
  }
}
.case-study-top.with-bg {
  &:before {
    opacity: 1;
  }
}
.case-study-top.with-bg.fade {
  &:before {
    opacity: 0;
    transition: opacity 1.5s;
  }
}
.works-ready {
  .case-study-top {
    h2, .h2 {
      opacity: 1;
      transform: translate(0, 0);
    }
    h1 {
      opacity: 1;
      transform: translate(0, 0);
    }
    .col {
      height: 78vh !important;
      width: 58.9vh !important;
      top: 12.5rem !important;
      left: auto !important;
      transition: all .4s ease-in .1s;
      box-shadow: 2rem 1rem 2rem rgba(0, 0, 0, 0.15);
      p {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
    .work-down {
      opacity: 1;
    }
  }
  .case-study-top.to-replace {
    h2, .h2 {
      opacity: 0;
      transform: translate(0, 7rem);
      transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    }
    .col {
      box-shadow: none;
      width: 58.9vh !important;
      top: 7.5rem !important;
      left: auto !important;
      overflow: hidden;
      transition: all .35s ease-out;
      .col-in {
        transform: translate(0,-102%);
      }
      p {
        transform: translate(0, 5rem);
        opacity: 0;
        transition: transform 0.35s ease-out, opacity 0.35s ease-out;
      }
    }
    .work-down {
      opacity: 0;
      transition: opacity 0.35s ease-out;
    }
  }
  .case-study-top.right-style {
    .col {
      //text-align: right;
      float: right;
      margin-right: 7%;
      img {
        margin: 0 0 2rem auto;
      }
    }
  }
  .work-video {
    video.to-scale.scale {
      transition: transform 3.5s;
      transform: translateX(-50%) translateY(-50%) scale(1.2);
    }
  }
}
.single-work {
  .case-study-top {
    h2, .h2 {
      opacity: 1;
      transform: translate(0, 0);
    }
    h1 {
      opacity: 1;
      transform: translate(0, 0);
    }
    .col {
      position: relative;
      float: left;
      height: 0;
      width: 33%;
      box-shadow: none;
      box-sizing: border-box;
      padding: 0 2.5%;
      margin-left: 7%;
      overflow: hidden;
      margin-left: 7%;
      height: 78vh !important;
      width: 58.9vh !important;
      top: 12.5rem !important;
      left: auto !important;
      transition: all .4s ease-in .1s;
      box-shadow: 2rem 1rem 2rem rgba(0, 0, 0, 0.15);
      .col-in {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: transform .35s;
      }
      p {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }
  .case-study-top.right-style {
    .col {
      margin-right: 7%;
      margin-left: 0;
      //text-align: right;
      float: right;
      margin-right: 7%;
      img {
        margin: 0 0 2rem auto;
      }
    }
  }
}
.works-ready.works {
  .case-study-top {
    .inner {
      max-width: 1460px;
      padding: 7.5rem 3rem 0 !important;
    }
  }
}
.case-study-top.right-style {
  .col {
    margin-right: 7%;
    margin-left: 0;
  }
}
.works-row-after {
  overflow-x: hidden;
}
.work-video {
  position: relative;
  overflow: hidden;
  height: 100vh;
  transition: height 0.5s;
  background: #fff;
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
  }
  video.to-scale {
    transform: translateX(-50%) translateY(-50%) scale(1);
    transform-origin: 50% 50%;
  }
  .inner {
    height: 100%;
    position: relative;
  }
  video.v2 {
    opacity: 0;
    transition: opacity .5s;
  }
  video.v2.show {
    opacity: 1;
  }
}
.work-full-video {
  opacity: 0 !important;
  transition: width .56s, right .56s, bottom .56s,left .56s ,top .56s,opacity .56s !important;
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
  }
  video.v2 {
    opacity: 0;
    transition: opacity .5s;
  }
  video.v2.show {
    opacity: 1;
  }
  i {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 2;
    background: rgba(0,0,0,0.5);
  }
  + {
    .work {
      transform: translate(0, 0%);
      width: auto;
      opacity: 0;
      .sub-work-text.right {
        text-align: right !important;
      }
    }
    .work-full-video {
      display: none;
    }
  }
}
.work-full-video-in {
  width: 100vw;
  height: 100%;
  right: 0;
  bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.work-full-video-in.left {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
}
.work-full-video.full-opacity-1 {
  opacity: 1 !important;
}
.work-full-video.full-opacity.full {
  transition: width .56s, right .56s, bottom .56s,left .56s ,top .56s,opacity .56s !important;
}
.work-full-video.full-opacity {
  transition: opacity .7s !important;
  opacity: 1 !important;
}
.work-full-video.full-opacity-2 {
  opacity: 0 !important;
}
.work-full-video.full {
  bottom: 0 !important;
  top: 0 !important;
}
.work-full-video.full-h {
  left: 0 !important;
  right: 0 !important;
}
.works-row.ready {
  .work-full-video.full {
    position: relative !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
    top: auto !important;
    height: 100vh;
  }
}
//.postid-8615 {
//  .case-study-top {
//    a {
//      color: #ffffff;
//    }
//  }
//}
//.postid-2674 {
//  .case-study-top {
//    a {
//      color: #ffffff;
//    }
//  }
//}
//.postid-8869 {
//  .works-ready {
//    .case-study-top.right-style {
//      .col {
//        text-align: left;
//      }
//    }
//  }
//  .single-work {
//    .case-study-top.right-style {
//      .col {
//        text-align: left;
//      }
//    }
//  }
//}
//.postid-8927 {
//  .case-study-top {
//    .col {
//      p {
//        text-align: left;
//      }
//    }
//  }
//}
.work-down {
  position: absolute;
  bottom: 5.5rem;
  left: 50%;
  z-index: 9;
  height: 70px;
  width: 70px;
  margin-left: -35px;
  background: $cream-2;
  border-radius: 50%;
  animation: down .4s infinite;
  opacity: 0;
  transition: opacity .5s;
  &:before {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="30" viewBox="0 0 26 30" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9511 29.5838L11.9511 30L13.8316 30L13.8316 29.5863L13.8366 29.5662C13.8683 29.4419 13.9016 29.318 13.9362 29.1945C14.0653 28.7369 14.207 28.2829 14.3612 27.8331C14.7499 26.6941 15.3516 25.169 16.2041 23.6126C17.9341 20.454 20.5593 17.4058 24.3159 16.856L25.2461 16.72L24.974 14.8596L24.0438 14.9956C19.3852 15.677 16.3658 19.4022 14.5549 22.7094C14.2916 23.1908 14.0503 23.6684 13.8316 24.1329L13.8316 -4.98945e-07L11.9511 -5.81144e-07L11.9511 23.8828C11.7103 23.3442 11.4523 22.8134 11.1776 22.2913C9.37606 18.8751 6.34472 15.0326 1.71434 14.9856L0.774093 14.9762L0.755286 16.8567L1.69553 16.8661C5.19198 16.9012 7.75445 19.831 9.51396 23.1682C10.3727 24.7954 10.9895 26.4283 11.3926 27.6601C11.5931 28.2743 11.7405 28.7846 11.8357 29.1394C11.8759 29.2871 11.9143 29.4352 11.9511 29.5838Z" fill="%23150725"/></svg>') no-repeat 0 0;
    top: 20px;
    height: 30px;
    left: 50%;
    width: 26px;
    content: '';
    margin-left: -13px;
    position: absolute;
    display: block;
  }
}
.to-replace {
  .work-down {
    opacity: 0;
  }
}
@media screen and ( max-width: 2000px ) {
  .case-study-top {
    .col {
      .col-in-text {

      }
    }
  }
}
@media screen and ( max-width: 1600px ) {
  .case-study-top {
    .col {
      .col-in-text {
        padding: 0 5rem 4rem;
      }
    }
  }
}
@media screen and ( max-width: 1400px ) {
  .case-study-top {
    .col {
      .col-in-text {
        padding: 0 4rem 2rem;
        p {
          font-size: 2.2rem;
          line-height: 2.6rem;
        }
      }
    }
    h2, .h2 {
      font-size: 7rem;
    }
    h1 {
      font-size: 7rem;
    }
  }
}
@media screen and ( max-width: 1360px ) {
  .case-study-top {
    .col {
      p {
        padding: 0 3% 1rem;
      }
    }
  }
  .single-work {
    .case-study-top {
      .col {
        margin-left: 3rem;
      }
    }
    .case-study-top.right-style {
      .col {
        margin-right: 3rem;
      }
    }
  }
  .works-ready {
    .case-study-top.right-style {
      .col {
        margin-right: 3rem;
      }
    }
  }
}
@media screen and ( max-width: 1025px ) and (orientation: landscape) {
  .works-ready {
    .case-study-top {
      .col {
        height: 70vh !important;
      }
    }
  }
  .single-work {
    .case-study-top {
      .col {
        height: 70vh !important;
      }
    }
  }
}
@media screen and ( max-width: 1023px ) and (orientation: landscape) and ( min-width: 769px ) {
  .works-ready {
    .case-study-top {
      .col {
        height: 320px !important;
        width: 300px !important;
        top: 10rem !important;
      }
    }
  }
  .single-work {
    .case-study-top {
      .col {
        height: 320px !important;
        width: 300px !important;
        top: 10rem !important;
      }
    }
  }
}
@media screen and ( max-width: 1023px ) and (orientation: portrait) {
  .case-study-top {
    .col {
      .col-in-text {
        bottom: 3rem;
        padding: 0 3rem 1rem !important;
      }
    }
  }
}
@media screen and ( max-width: 1023px ) {
  .case-menu {
    right: 60px;
    display: none !important;
  }
  .works-ready {
    .case-study-top {
      .col {
        top: 17.5rem !important;
        height: 60vh !important;
        width: 44vh !important;
        display: none !important;
      }
    }
    .case-study-top.right-style {
      .col {
        margin-right: 4%;
      }
    }
  }
  .single-work {
    .case-study-top {
      .col {
        top: 17.5rem !important;
        height: 60vh !important;
        width: 44vh !important;
        margin-left: 4%;
        display: none !important;
      }
    }
    .case-study-top.right-style {
      .col {
        margin-right: 4%;
      }
    }
  }
}
@media screen and ( max-width: 480px ) {
  .vertical-slider-wrap2 {
    right: 0px;
  }
  .case-study-top {
    h2, .h2 {
      font-size: 5rem;
      line-height: 6rem;
    }
    h1 {
      font-size: 5rem;
      line-height: 6rem;
    }
  }
}
