/*text + video */
.text-video {
  margin: 0 auto;
  position: relative;
  // &:before {
  //   margin-left: -45rem;
  //   width: 140rem;
  //   top: 0;
  //   bottom: 0;
  //   left: 50%;
  //   content: '';
  //   background: linear-gradient(293.97deg, #F2F2F2 26.62%, rgba(242, 242, 242, 0) 74.71%);
  //   position: absolute;
  // }
  .inner {
    max-width: 1260px;
  }
}
.text-video__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-video__left {
  width: 34.5%;
  padding-left: 0%;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  lottie-player {
    float: right;
    margin-bottom: 3rem;
  }
}
.text-video__right {
  width: 55.4%;
  left: -6rem;
  position: relative;
  video {
    pointer-events: none;
    pointer-events: none;
    max-width: 100%;
    margin: -3px -3px -14px 0;
    position: relative;
    right: -3px;
  }
}
.text-video__right-outer {
  width: 94rem;
  overflow: hidden;
}
.text-video__heading,
h2.text-video__heading {
  font-family: $rd;
  font-weight: 500;
  font-size: 6.9rem;
  line-height: 1.14;
  color: #210B39;
  clear: both;
  margin-bottom: 4rem;
}
@media screen and ( max-width: 1600px ) {
  .text-video__right-outer {
    width: calc( (100vw - 1200px)/2 + 1200px*0.55 + 6rem );
  }
}
@media screen and ( max-width: 1300px ) {
  .text-video__left {
    width: 37%;
    padding-left: 0;
  }
  .text-video__right {
    width: 63%;
    left: 0;
    position: relative;
  }
  .text-video__right-outer {
    width: calc( (100vw - 1200px)/2 + 1200px*0.64 );
  }
}
@media screen and ( max-width: 1023px ) {
  .text-video {
    padding-top: 7.4rem;
  }
  .text-video__wrap {
    display: block;
  }
  .text-video__left {
    width: 100%;
    padding-left: 0;
    lottie-player {
      position: absolute;
      right: 0;
      top: -4rem;
    }
  }
  .text-video__right {
    width: 100%;
    position: relative;
  }
  .text-video__right-outer {
    width: calc(100% + 6rem);
    margin-left: -3rem;
  }
}
@media screen and ( max-width: 767px ) {
  //.postid-9699 {
  //  .video-wrap-2019 {
  //    video {
  //      max-width: 101%;
  //    }
  //  }
  //}
  .text-video__left {
    lottie-player {
      transform: scale(.6);
      transform-origin: 100% 0;
    }
  }
  .text-video__heading {
    font-size: 6rem;
    padding-right: 9rem;
  }
  .text-video {
    &:before {
      margin-left: -55rem;
    }
  }
}
