.single-position {
  .say-hello {
    font-size: 12rem;
    padding-top: 13rem;
    padding-bottom: 11.8rem;
  }
  .single-pagination {
    position: absolute;
    left: 0;
    right: 0;
    top: 39.5rem;
    padding-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
    height: 54rem;
    padding-bottom: 2rem;
  }
  .say-description {
    font-size: 1.9rem;
  }
  .positions {
    &::after {
      display: none !important;
    }
    margin-top: 0px;
    padding-top: 4.4rem;
    padding-bottom: 8.8rem;
    .inner {
      padding: 0;
      &::before {
        left: 31.5%;
      }
    }
  }
  padding-top: 15.6rem;
  background: url(../images/post-bg.jpg) no-repeat 0 337px;
  .inner {
    max-width: 1260px;
    overflow: hidden;
    h1 {
      color: #2f0d53;
      font-size: 6rem;
      line-height: normal;
      padding-bottom: 1.9rem;
      margin-bottom: 2.2rem;
      border-bottom: 1px solid #efeff1;
      letter-spacing: -1.5px;
      word-spacing: 2px;
      font-family: $rd;
      font-weight: normal;
    }
  }
  .meta {
    overflow: hidden;
    padding-bottom: 7.3rem;
    .time {
      float: left;
      font-size: 1.5rem;
      line-height: normal;
      padding-top: 0.3rem;
    }
  }
  .row-position {
    &:hover {
      background: none;
      .col-l {
        strong {
          color: #210b39;
        }
      }
    }
    .col-r {
      &::before {
        display: none;
      }
      span.excerpt {
        &::before {
          display: none;
        }
        p {
          font-size: 1.9rem;
          line-height: 3.1rem;
          margin: 0;
        }
        margin-bottom: .8rem;
      }
      padding: 0;
      width: 62.5%;
    }
    .col-l {
      padding: .6rem 0 0 1.5rem;
      width: 28%;
      padding-right: 0px;
    }
  }
  .entry-content {
    max-width: 800px;
    position: relative;
    z-index: 5;
    margin: 0 auto;
  }
}
.single-pagination {
  a[rel=prev] {
    font-size: 1.7rem;
    line-height: 2.5rem;
    padding-left: 4rem;
    color: #210b39;
    display: inline-block;
    position: absolute;
    top: 100%;
    width: 42rem;
    max-width: 42rem;
    height: 14.3rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    left: 0;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    span {
      position: relative;
      z-index: 2;
      transition: opacity 0.5s , transform .5s;
      opacity: 0;
      transform: translate3d(-1rem, 0, 0);
      display: table;
      width: 100%;
      height: 100%;
      will-change: transform;
      em {
        display: table-cell;
        vertical-align: middle;
        font-style: normal;
        vertical-align: middle;
        padding-bottom: 0px;
      }
      &:before {
        background: url(../../images/sprite.png) no-repeat 0 -20px;
        width: 31px;
        height: 21px;
        content: "";
        position: absolute;
        top: 44%;
        left: -30px;
        opacity: 0;
        transform: translate(-0.8rem, -1rem) rotate(90deg);
        transition: transform .3s linear.1s, opacity .3s linear.1s;
      }
    }
    &:hover {
      span {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      &:hover {
        span {
          &:before {
            transform: translate(-0.8rem, 0) rotate(90deg);
            opacity: 1;
          }
        }
      }
    }
    &:after {
      font-size: 20rem;
      line-height: 16rem;
      font-weight: 700;
      line-height: 0px;
      color: #f0f0f0;
      position: absolute;
      top: 56%;
      left: 50%;
      letter-spacing: -3px;
      text-transform: none;
      transform: translate3d(-49%, -50%, 0);
      content: "Prev";
    }
  }
  a[rel=next] {
    font-size: 1.7rem;
    line-height: 2.5rem;
    padding-left: 4rem;
    color: #210b39;
    display: inline-block;
    position: absolute;
    top: 100%;
    width: 42rem;
    max-width: 42rem;
    height: 14.3rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    right: -32rem;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    span {
      position: relative;
      z-index: 2;
      transition: opacity 0.5s , transform .5s;
      opacity: 0;
      transform: translate3d(-1rem, 0, 0);
      display: table;
      width: 100%;
      height: 100%;
      will-change: transform;
      em {
        display: table-cell;
        vertical-align: middle;
        font-style: normal;
      }
      &:before {
        background: url(../../images/sprite.png) no-repeat 0 -20px;
        width: 31px;
        height: 21px;
        content: "";
        position: absolute;
        top: 44%;
        left: -30px;
        opacity: 0;
        transform: translate(-0.8rem, -1rem) rotate(90deg);
        transition: transform .3s linear.1s, opacity .3s linear.1s;
      }
    }
    &:hover {
      span {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        &:before {
          transform: translate(-0.8rem, 0) rotate(90deg);
          opacity: 1;
        }
      }
    }
    &:after {
      font-size: 20rem;
      line-height: 16rem;
      font-weight: 700;
      line-height: 0px;
      color: #f0f0f0;
      position: absolute;
      top: 56%;
      left: 50%;
      letter-spacing: -3px;
      text-transform: none;
      transform: translate3d(-49%, -50%, 0);
      content: "Next";
    }
  }
}
@media screen and ( max-width: 1400px ) {
  .single-pagination {
    a[rel="next"] {
      &::after {
        font-size: 15rem !important;
        top: 58%;
      }
      height: 10.4rem;
      width: 38rem;
      width: 44rem;
      right: -35.1rem;
    }
    a[rel="prev"] {
      &::after {
        font-size: 15rem !important;
        top: 57%;
      }
      height: 10.4rem;
      width: 38rem;
      width: 44rem;
    }
  }
}
@media screen and ( max-width: 1280px ) {
  .row-position .col-l span {
    margin-left: 2rem;
  }
}
@media screen and ( max-width: 1023px ) {
  .single-pagination {
    display: none;
  }
  .single-position {
    .meta {
      padding-bottom: 2.3rem;
    }
  }
  .row-position .col-l {
    width: 22%;
  }

  .row-position .col-r {
    width: 71%;
    padding-right: 0px;
  }

  .row-position .col-r strong {
    font-size: 3.8rem;
  }
}
@media screen and ( max-width: 640px ) {
  .single-position {
    .inner {
      h1 {
        font-size: 4rem;
      }
    }
  }
}