.loaded .cta-services.cta-services__white{
  .cta-services__link:not(.cta-services__link--new) {
    opacity: 0;
    &.show {
      opacity: 1;
    }
  }
}
.cta-services {
  padding: 15rem 0;
  background: #210b39;
  position: relative;
  .sq-main-1,
  .sq-main-2 {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .sq-main-2 {
    right: 5rem;
  }
  &__white {
    background: $white;
    h2,
    p {
      color: #2F134A !important;
    }
    .graph-circle {
      top: -60px;
    }
    .purple-circle {
      right: 45%;
      top: 70%;
    }

  }
  .inner {
    margin: 0 auto;
    position: relative;
    .decor-doublesquare {
      position: absolute;
      right: 0;
      bottom: 20%;
    }
  }
  h2 {
    color: #fff;
  }
  p {
    font-size: 2.4rem;
    color: #fff;
    font-weight: 400;
  }
  &__fake-link {
     //height: 144px;
    &.active {
      height: 0;
    }
  }
  &__link {
    width: 115px;
    height: 115px;
    background: #00E06D;
    position: fixed;
    top: 20rem;
    right: calc(50% - 820px);
    z-index: 99;
    text-align: center;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    opacity: 0;    
    transition:  opacity .35s ease .35s, transform .5s, width 0.5s, height 0.5s;
    //transition: width 0.8s,height 0.8s, opacity 0.8s 0.2s, transform 1.4s;
    //animation: def_link 1s ease-in-out forwards;
    //&.noactive {
    //  transform: translate(0, 0);
    //}
    //&.hide {
    //  transform: translate(50vw, 0);
    //  &.noactive {
    //    transform: translate(0, 0);
    //  }
    //  &.active {
    //    transform: translate(150%, -50%);
    //  }
    //}
    &.active {
      position: absolute;
      top: 50%;

      right: 0;
      //animation: active_link 2s ease-in-out forwards;
      &:before {
        animation: pulse 3s 0.2s linear infinite;
      }
      &:after {
        animation: pulse 2s 0s linear infinite;
      }
    }
    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      max-width: 100%;
      max-height: 100%;
      color: #41145E;
      font-size: 13px;
      letter-spacing: 2px;
      line-height: 1.4;
      font-weight: bold;
      text-transform: uppercase;
      box-sizing: border-box;
    }
    &:before {
      content: "";
      position: absolute;
      left: -2.4rem;
      top: -2.4rem;
      bottom: -2.4rem;
      right: -2.4rem;
      border: 2.4rem solid #00e06d;
      opacity: 0.4;
      border-radius: 50%;
    }
    &:after {
      content: "";
      position: absolute;
      left: -3.8rem;
      top: -3.8rem;
      bottom: -3.8rem;
      right: -3.8rem;
      border-radius: 50%;
      border: 1.4rem solid #00e06d;
      opacity: 0.2;
    }
    &:hover {
      transform: translate(0, 0) scale(1.26) !important;
      /*&:before {
        opacity: 1;
      }*/
    }
    &--new {
      opacity: 0;
    }
  }
  &__in {
    position: relative;
    z-index: 10;
    max-width: 660px;
  }
  .decor-doublesquare {
    &:before {
      animation: run 20s infinite ease-in-out;
      background: #B598D3;
      filter: blur(1px);
      box-shadow: none;
      width: 134px;
      height: 134px;
    }
    &:after {
      animation: revercerun 20s infinite ease-in-out;
      background: #B598D3;
      opacity: 0.2;
      filter: blur(1px);
      box-shadow: none;
      width: 64px;
      height: 64px;
    }
  }
  .purple-circle {
    position: absolute;
    top: -50px;
    left: 0;
  }
}
.case-service + .cta-services {
  padding-top: 5rem;
}
.loaded .cta-services__link {
  opacity: 1;
  &.active2 {
    opacity: 0;

  }
  &:not(.cta-services__link--new) {

  }
  &--new {
    opacity: 0;
    left: 660px;
    top: 20% !important;
    right: 0 !important;

    position: absolute;
    &.active2 {
      opacity: 1;
      right: 46vw;
      //transition: top .5s, right .5s linear .5s, opacity 0s;
    }
  }
}
.page-template-paid-media-landing-page {
  .cta-services__link:not(.cta-services__link--new) {
    display: none !important;
  }
}
@media screen and ( max-width: 1700px ) {

}
@media screen and ( max-width: 1600px ) {
  .cta-services__link {
    right: 60px;
  }
  .loaded .cta-services__link--new.active2 {
    right: 40vw;
  }
}
@media screen and ( max-width: 1300px ) {
  .loaded .cta-services__link--new.active2 {
    right: 30vw;
  }
}
@media screen and ( max-width: 1200px ) {
  .loaded .cta-services__link--new.active2 {
    right: 20vw;
  }
}
@media screen and ( max-width: 900px ) {
  .cta-services {
    padding: 5rem 0;
    text-align: center;
    &__in {
      max-width: 100%;
    }
    &__link {
      width: 110px;
      height: 110px;
      position: relative !important;
      top: auto;
      right: 0;
      margin-top: 7rem;
      transform: scale(0.7) !important;
    }
    &__fake-link {
      height: 0;
    }
  }
  .cta-services__white {
    padding: 80px 0;
    .graph-circle {
      top: -60px;
      left: 25%;
    }
    .cta-services__in {
      text-align: left;
    }
    .cta-services__link {
      width: 120px;
      height: 120px;
      &:before {
        top: -45px;
        left: -45px;
        right: -45px;
        bottom: -45px;
        border-width: 45px;
        opacity: 0.2;
      }
      &:after {
        top: -75px;
        left: -75px;
        right: -75px;
        bottom: -75px;
        border-width: 75px;
        opacity: 0.1;
      }
      span {
        font-size: 14px;
        padding: 0;
        display: flex;
        align-items: center;
        transform: translate(0,0);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        &:after {
          content: "";
          position: absolute;
          left: -85px;
          top: -85px;
          bottom: -85px;
          right: -85px;
          border: 85px solid #00e06d;
          opacity: 0.1;
          border-radius: 50%;
        }
      }
    }
    .cta-services__fake-link {
      height: 50px;
    }
  }
  .loaded .cta-services__link {
    opacity: 1 !important;
  }
  .cta-services__link--new {
    display: none;
  }
}
@keyframes active_link { from { transform: translate(70vw, -50%) } to { transform: translate(150%, -50%); }}
@keyframes def_link  { from { transform: translate(30vw, 0) } to { transform: translate(0, 0); }}