.new-agency-connections {
  position: relative;
  padding: 2rem 0 0;
  &:before { 
    position: absolute;
    top: 0;
    left: -10rem;
    width: 29rem;
    height: 29rem;
    background: linear-gradient(257deg, rgba(142, 92, 192, 0.50) 21.94%, rgba(33, 11, 57, 0.00) 96.61%);
    border-radius: 50%;
    content: '';
    transform: rotate(-135deg);
    opacity: 0.5;
  }
  &__description {
    margin-left: 49%;
    width: 51%;
    p {
      font-size: $p2;
      line-height: 1.3;
    }
  }
  &__testimonials {
    padding-top: 14rem;
    &-item {
      width: 57.4rem;
      height: 57.4rem;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      box-sizing: border-box;
      padding: 0 8.6rem;
      position: relative;
      flex-direction: column;
      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 64.5rem;
        height: 64.5rem;
        content: '';
        border: .1rem solid $purple-3;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
      }
    }
    &-quote {
      margin-bottom: 5rem;
      &:before {
        display: block;
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="80" height="65" viewBox="0 0 80 65" fill="none"><path opacity="0.2" d="M80 45.9903C80 48.5557 79.5274 50.9861 78.5823 53.2814C77.6371 55.4418 76.3544 57.3996 74.7342 59.1549C73.1139 60.7751 71.1561 62.0578 68.8608 63.003C66.7004 63.9481 64.3375 64.4207 61.7722 64.4207C58.9367 64.4207 56.3038 63.8806 53.8734 62.8004C51.443 61.5852 49.3502 59.965 47.5949 57.9397C45.8397 55.9144 44.4219 53.5515 43.3418 50.8511C42.3966 48.1506 41.924 45.1802 41.924 41.9397C41.924 35.5937 43.4768 28.9776 46.5823 22.0916C47.9325 19.1211 49.9578 15.4755 52.6582 11.1549C53.4684 9.80466 54.211 8.72449 54.8861 7.91435C55.5612 6.96921 56.1688 6.09157 56.7089 5.28144C57.384 4.47132 58.0591 3.66119 58.7342 2.85107C59.4093 2.04094 60.2869 1.09579 61.3671 0.015625L63.1899 1.02828C61.2996 3.32364 59.9494 5.619 59.1392 7.91435C58.4641 10.2097 58.1266 12.7076 58.1266 15.408C58.1266 18.6485 58.7342 21.2139 59.9494 23.1042C61.1646 24.9945 63.5274 26.8848 67.038 28.7751C69.7384 30.1253 71.6962 31.2055 72.9114 32.0156C74.1266 32.8257 75.2067 33.7709 76.1519 34.8511C78.7173 37.8215 80 41.5346 80 45.9903ZM37.8734 45.9903C37.8734 51.1211 36.1181 55.5093 32.6076 59.1549C29.097 62.6654 24.7764 64.4207 19.6456 64.4207C13.9747 64.4207 9.24895 62.3279 5.46835 58.1422C1.82278 53.8215 0 48.4207 0 41.9397C0 35.7287 1.48523 29.1127 4.4557 22.0916C5.1308 20.6063 5.94093 18.9861 6.88608 17.2308C7.96625 15.3405 9.24895 13.3152 10.7342 11.1549C11.5443 9.80466 12.2869 8.72449 12.962 7.91435C13.6371 6.96921 14.2447 6.09157 14.7848 5.28144C15.4599 4.47132 16.135 3.66119 16.8101 2.85107C17.4852 2.04094 18.3629 1.09579 19.443 0.015625L21.0633 1.02828C17.6878 5.619 16 10.4122 16 15.408C16 18.6485 16.6076 21.2139 17.8228 23.1042C19.173 24.9945 21.6034 26.8848 25.1139 28.7751C27.6793 30.1253 29.5696 31.2055 30.7848 32.0156C32.135 32.8257 33.2152 33.7709 34.0253 34.8511C36.5907 37.8215 37.8734 41.5346 37.8734 45.9903Z" fill="%23B598D3"/></svg>');
        width: 8rem;
        height: 6.4rem;
        content: '';
        margin-bottom: 2rem;
      }
      .quote-end {
        display: inline-block;
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="41" height="34" viewBox="0 0 41 34" fill="none"><path opacity="0.2" d="M0.173515 9.68711C0.173515 8.3779 0.414684 7.13761 0.897022 5.96621C1.37936 4.86373 2.03396 3.8646 2.86082 2.96882C3.68769 2.14196 4.68682 1.48736 5.85822 1.00502C6.9607 0.522682 8.16655 0.281513 9.47575 0.281513C10.9228 0.281513 12.2664 0.557133 13.5067 1.10838C14.747 1.72853 15.8151 2.55539 16.7108 3.58897C17.6066 4.62255 18.3301 5.8284 18.8813 7.20651C19.3637 8.58462 19.6049 10.1005 19.6049 11.7543C19.6049 14.9928 18.8124 18.3692 17.2276 21.8834C16.5386 23.3993 15.505 25.2597 14.1269 27.4647C13.7134 28.1538 13.3345 28.705 12.9899 29.1184C12.6454 29.6008 12.3353 30.0487 12.0597 30.4621C11.7152 30.8755 11.3707 31.289 11.0261 31.7024C10.6816 32.1158 10.2337 32.5982 9.68247 33.1494L8.75224 32.6326C9.71692 31.4612 10.406 30.2898 10.8194 29.1184C11.1639 27.9471 11.3362 26.6723 11.3362 25.2942C11.3362 23.6405 11.0261 22.3313 10.406 21.3666C9.78582 20.4019 8.57998 19.4372 6.78844 18.4725C5.41033 17.7835 4.4112 17.2323 3.79105 16.8188C3.1709 16.4054 2.61966 15.9231 2.13732 15.3718C0.828117 13.8559 0.173515 11.961 0.173515 9.68711ZM21.672 9.68711C21.672 7.0687 22.5678 4.82927 24.3593 2.96882C26.1509 1.17728 28.3558 0.281513 30.9743 0.281513C33.8683 0.281513 36.28 1.34955 38.2093 3.48562C40.0698 5.69059 41 8.44681 41 11.7543C41 14.9239 40.242 18.3003 38.7261 21.8834C38.3816 22.6413 37.9682 23.4682 37.4858 24.364C36.9346 25.3286 36.28 26.3622 35.522 27.4647C35.1086 28.1538 34.7296 28.705 34.3851 29.1184C34.0405 29.6008 33.7305 30.0487 33.4549 30.4621C33.1103 30.8755 32.7658 31.289 32.4213 31.7024C32.0767 32.1158 31.6289 32.5982 31.0776 33.1494L30.2507 32.6326C31.9734 30.2898 32.8347 27.8437 32.8347 25.2942C32.8347 23.6405 32.5246 22.3313 31.9045 21.3666C31.2154 20.4019 29.9751 19.4372 28.1836 18.4725C26.8744 17.7835 25.9097 17.2323 25.2896 16.8188C24.6005 16.4054 24.0493 15.9231 23.6358 15.3718C22.3266 13.8559 21.672 11.961 21.672 9.68711Z" fill="%23B598D3"/></svg>');
        width: 4.1rem;
        height: 3.4rem;
        position: relative;
        margin-top: -1rem;
        top: 2.4rem;
        left: -1rem;
        margin-right: -4rem;
      }
    }
    &-author {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      img {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        border: .2rem solid $sec-3;
        margin-right: 1.5rem;
      }
      .h7 {
        font-family: $rd;
      }
    }
    &-name {
      width: calc(100% - 9.9rem);
    }
    .slick-list {
      overflow: visible;
    }
    .slick-dots {
      margin-top: 6rem;
    }
  }
  .case-service-control {
    justify-content: flex-end;
    padding-right: 20%;

  }
}

@media screen and ( max-width: 1200px ) {
  .new-agency-connections {
    &__description {
      margin-left: 0;
      width: 100%;
    }
    &__testimonials {
      padding-top: 8rem;
      margin-bottom: 5rem;
    }
  }
}
@media screen and ( max-width: 1023px ) {
  .new-agency-connections__testimonials-quote {
    font-size: 2rem!important;
  }
}
@media screen and ( max-width: 767px ) {
  .new-agency-connections__testimonials {
    padding-top: 4rem;
    .slick-dots {
      margin-top: 3rem;
    }
    &-quote {
      font-size: 1.8rem!important;
      margin-bottom: 2rem;
      &:before {
        height: 4rem;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: -2rem;
      }
    }
    &-author img {
      width: 7rem;
      height: 7rem;
    }
    &-name {
      .h7 {
        font-size: 1.8rem!important;
      }
    }
    &-item {
      width: 80vw;
      height: auto;
      padding: 0 2rem;
      &:before {
        display: none;
      }
    }
  }
}