.services-list {
  background: #210b39;
  padding: 8.5rem 0 6.2rem;
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: normal;
    padding-bottom: 5rem;
    letter-spacing: .5rem;
    font-family: $s;
    color: #fff;
    opacity: 0;
    transform: translate(0px, 7rem);
    transition: transform 0.7s ease-in 0s, opacity 0.7s ease-in 0s;
  }
  .col {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    opacity: 0;
    transform: translate(-7rem, 0);
    transition: transform 0.7s ease-in 0s, opacity 0.7s ease-in 0s;
    h4 {
      color: #00e06d;
      font-size: 2.3rem;
      line-height: normal;
      padding-bottom: 3.3rem;
      position: relative;
      margin-bottom: 3.5rem;
      font-weight: normal;
      position: relative;
      padding-right: .8rem;
      &:before {
        position: absolute;
        display: block;
        left: 0;
        bottom: 0;
        content: '';
        height: 0.6rem;
        width: 0;
        background: #451678;
        transition: width 0.4s ease-in .2s;
      }
    }
    .h4 {
      color: #00e06d;
      font-size: 2.3rem;
      line-height: normal;
      padding-bottom: 3.3rem;
      position: relative;
      margin-bottom: 3.5rem;
      font-weight: normal;
      position: relative;
      padding-right: .8rem;
      &:before {
        position: absolute;
        display: block;
        left: 0;
        bottom: 0;
        content: '';
        height: 0.6rem;
        width: 0;
        background: #451678;
        transition: width 0.4s ease-in .2s;
      }
    }
    ul {
      list-style-type: none;
      li {
        position: relative;
        padding: 0 20% 0 10%;
        font-size: 1.6rem;
        line-height: 2rem;
        margin-bottom: .8rem;
        color: #ffffff;
        line-height: normal;
        &:before {
          position: absolute;
          display: block;
          left: 0;
          top: .8rem;
          content: '';
          height: 1px;
          width: 5px;
          background: #741ad4;
        }
      }
    }
  }
  .services-row.animate {
    .col {
      opacity: 1;
      transform: translate(0, 0);
      &:nth-child(2) {
        transition: transform 0.7s ease-in .2s, opacity 0.7s ease-in .2s;
        h4 {
          &:before {
            transition: width 0.4s ease-in .4s;
          }
        }
      }
      &:nth-child(3) {
        transition: transform 0.7s ease-in .4s, opacity 0.7s ease-in .4s;
        h4 {
          &:before {
            transition: width 0.4s ease-in .6s;
          }
        }
      }
      &:nth-child(4) {
        transition: transform 0.7s ease-in .6s, opacity 0.7s ease-in .6s;
        h4 {
          &:before {
            transition: width 0.4s ease-in .8s;
          }
        }
      }
      h4 {
        &:before {
          width: 17%;
        }
      }
      .h4 {
        &:before {
          width: 17%;
        }
      }
    }
  }
}
.page-template-service-page {
  .site-content {
    .services-list {
      .inner {
        transform: translate(0, 0);
      }
    }
  }
}
@media screen and ( max-width: 1400px ) {
  .services-list {
    .col {
      ul {
        li {
          padding-right: 10%;
        }
      }
    }
  }
}
@media screen and ( min-width: 767px ) {
  .services-list {
    .col {
      ul {
        display: block !important;
      }
    }
  }
}
@media screen and ( max-width: 767px ) {
  .services-list {
    .col {
      width: 100%;
      box-sizing: border-box;
      float: none;
      ul {
        display: none;
        padding-bottom: 2rem;
        margin-bottom: 3.3rem;
        border-bottom: 1px solid #451678;
      }
      h4 {
        position: relative;
        text-transform: uppercase;
        text-align: center;
        &:after {
          content: '';
          height: 0;
          position: absolute;
          top: 1.1rem;
          right: 4%;
          width: 0;
          border: 9px solid transparent;
          border-top-color: #00e06d;
        }
      }
      .h4 {
        position: relative;
        text-transform: uppercase;
        text-align: center;
        &:after {
          content: '';
          height: 0;
          position: absolute;
          top: 1.1rem;
          right: 4%;
          width: 0;
          border: 9px solid transparent;
          border-top-color: #00e06d;
        }
      }
      h4.active {
        &:after {
          border: 9px solid transparent;
          border-bottom-color: #00e06d;
          top: 0;
        }
      }
      .h4.active {
        &:after {
          border: 9px solid transparent;
          border-bottom-color: #00e06d;
          top: 0;
        }
      }
    }
    .services-row {
      .col {
        h4 {
          &::before {
            height: 1px;
            width: 100%;
          }
        }
      }
    }
    .services-row.animate {
      .col {
        .h4 {
          &::before {
            height: 1px;
            width: 100%;
          }
        }
      }
    }
  }
}
@media screen and ( max-width: 374px ) {
  .services-list {
    .col {
      h4 {
        font-size: 2.1rem;
        &::after {
          top: .7rem;
        }
      }
      .h4 {
        font-size: 2.1rem;
        &::after {
          top: .7rem;
        }
      }
      h4.active {
        &::after {
          top: -0.4rem;
        }
      }
      .h4.active {
        &::after {
          top: -0.4rem;
        }
      }
    }
  }
}
