.micro-form {
  &__in {
    max-width: 870px;
    margin: 0 auto;
  }
  .wpcf7-response-output.wpcf7-mail-sent-ok {
    display: block !important;
    visibility: visible !important;
    border: none;
    text-align: center;
  }
  .field-row label {
    color: $white;
  }
  .field-row textarea, .field-row input[type="text"], .field-row input[type="tel"], .field-row input[type="number"], .field-row input[type="email"] {
    color: $white;
    border-bottom: 2px solid $white;
    &:focus {
      color: $purple-5;
      border-color: $purple-4;
    }
  }
}
.col-row {
  display: flex;
  justify-content: space-between;
}
.col-50 {
  width: 48%;
}
@media screen and ( max-width: 767px ) {
  .col-row {
    display: block;
  }
  .col-50 {
    width: auto;
  }
}