.testimonial-section {
  max-width: 410px;
  box-sizing: border-box;
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
  &__in {
    padding-left: 30px;
    padding-top: 70px;
    svg {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: transform 0.8s, opacity 0.8s;
      transform: translate(5rem, 0);
    }
  }
  &__quote {
    color: #dec3ff;
    font-size: 2.2rem;
    font-style: italic;
    line-height: 1.4;
    margin-bottom: 3rem;
    position: relative;
    z-index: 2;
    span {
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
  &__data {
    font-size: 0;
    opacity: 0;
    transition: opacity 0.8s 0.5s;
  }
  &__text {
    width: calc(100% - 75px);
    display: inline-block;
    vertical-align: middle;
    color: #A384C8;
    line-height: 1.1;
    text-align: right;
  }
  &__name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  &__job {
    font-size: 11px;
  }
  &__photo {
    width: 54px;
    height: 54px;
    margin-left: 21px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: linear-gradient(145deg, #F3C17D 0, #E65095 70%, #2F0D53 100%);
      width: 58px;
      height: 58px;
      border-radius: 50%;
    }
    span {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 54px;
      position: relative;
      z-index: 10;
    }
  }
  &.animate {
    .testimonial-section__in svg {
      transform: translate(0, 0);
      opacity: 1;
    }
    .testimonial-section__quote {
      span {
        opacity: 1;
      }
    }
    .testimonial-section__data {
      opacity: 1;
    }
  }
}
@media screen and ( max-width: 767px ) {
  .testimonial-section {
    margin: 0 auto 45px;
    display: block;
    padding: 0 4%;
    box-sizing: border-box;
    &__in {
      padding-top: 35px;
      padding-left: 5px;
      svg {
        max-width: 83px;
        height: auto;
        left: 10px;
      }
    }
  }

}