.page-template-pd-landing-page.header-purple #header #logo a svg path[fill="#8C20F8"] {
  fill: $white;
}
.page-template-pd-landing-page {

  .menu-icon {
    display: none;
  }
  #header.scrolled {
    background: $purple-1;
    #logo a svg {
      color: $purple-6;
      path[fill="#8C20F8"] {
        fill: $purple-6;
      }
    }
  }
  .header__right .btn {
    margin-right: 0;
  }

  #header #logo a {
    color: $cream-3;

  }

  .header__right {
    .btn--white {
      background: none;
      border: 1px solid $white;
      color: $white;
    }

    .btn--arrow i {
      background: $white;

      &:after {
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.5275 8.68573H19.7994V7.45719H19.5291L19.516 7.45392C19.4348 7.43316 19.3539 7.41146 19.2732 7.3888C18.9742 7.3045 18.6776 7.21192 18.3837 7.11116C17.6396 6.85726 16.6433 6.46413 15.6265 5.90719C13.5629 4.77694 11.5715 3.06191 11.2124 0.607714L11.1235 0L9.90806 0.177728L9.99692 0.785442C10.4421 3.82893 12.8758 5.80154 15.0364 6.98462C15.3509 7.15661 15.6629 7.31427 15.9664 7.45719H0.200195V8.68573H15.803C15.4511 8.84302 15.1043 9.01156 14.7632 9.19106C12.5314 10.368 10.0211 12.3484 9.99037 15.3734L9.98423 15.9877L11.2128 16L11.2189 15.3857C11.2418 13.1015 13.1559 11.4274 15.3361 10.2779C16.3992 9.71687 17.466 9.31391 18.2707 9.0506C18.672 8.91956 19.0053 8.82332 19.2371 8.76108C19.3336 8.73485 19.4304 8.70973 19.5275 8.68573Z" fill="%238C20F8"/></svg>') no-repeat 0 0 / 100% auto;
      }
    }
  }
  &.header-dark {
    #header {
      background: $purple-1 !important;
      #logo a svg {
        color: $purple-6;
        path[fill="#8C20F8"] {
          fill: $purple-6;
        }
      }
    }
    .pd-navigation .btn {
      border: 1px solid $purple-6;
      color: $purple-6;
      &.active,
      &:hover {
        background: $purple-6;
        color: $purple-1;
      }
    }
    .header__right {
      .btn--white {
        border: 1px solid $purple-6;
        color: $purple-6;
        &:hover {
          background: $purple-6;
          color: $purple-1;
        }
      }
      .btn--arrow i {
        background: $purple-6;

        &:after {
          background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.5275 8.68573H19.7994V7.45719H19.5291L19.516 7.45392C19.4348 7.43316 19.3539 7.41146 19.2732 7.3888C18.9742 7.3045 18.6776 7.21192 18.3837 7.11116C17.6396 6.85726 16.6433 6.46413 15.6265 5.90719C13.5629 4.77694 11.5715 3.06191 11.2124 0.607714L11.1235 0L9.90806 0.177728L9.99692 0.785442C10.4421 3.82893 12.8758 5.80154 15.0364 6.98462C15.3509 7.15661 15.6629 7.31427 15.9664 7.45719H0.200195V8.68573H15.803C15.4511 8.84302 15.1043 9.01156 14.7632 9.19106C12.5314 10.368 10.0211 12.3484 9.99037 15.3734L9.98423 15.9877L11.2128 16L11.2189 15.3857C11.2418 13.1015 13.1559 11.4274 15.3361 10.2779C16.3992 9.71687 17.466 9.31391 18.2707 9.0506C18.672 8.91956 19.0053 8.82332 19.2371 8.76108C19.3336 8.73485 19.4304 8.70973 19.5275 8.68573Z" fill="%23150725"/></svg>') no-repeat 0 0 / 100% auto;
        }
      }
    }
  }

  &.header-purple {
    #header {
      background: $purple-4 !important;
      #logo a svg {
        color: $cream-3;
        path[fill="#8C20F8"] {
          fill: $cream-3;
        }
      }
    }
    .pd-navigation .btn {

      &.active,
      &:hover {

      }
    }
    .header__right {
      .btn--white {
        border: 1px solid $cream-3;
        color: $cream-3;
        &:hover {
          background: $cream-3;
          color: $purple-4;
        }
      }
      .btn--arrow i {
        background: $cream-3;

        &:after {
          background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.5275 8.68573H19.7994V7.45719H19.5291L19.516 7.45392C19.4348 7.43316 19.3539 7.41146 19.2732 7.3888C18.9742 7.3045 18.6776 7.21192 18.3837 7.11116C17.6396 6.85726 16.6433 6.46413 15.6265 5.90719C13.5629 4.77694 11.5715 3.06191 11.2124 0.607714L11.1235 0L9.90806 0.177728L9.99692 0.785442C10.4421 3.82893 12.8758 5.80154 15.0364 6.98462C15.3509 7.15661 15.6629 7.31427 15.9664 7.45719H0.200195V8.68573H15.803C15.4511 8.84302 15.1043 9.01156 14.7632 9.19106C12.5314 10.368 10.0211 12.3484 9.99037 15.3734L9.98423 15.9877L11.2128 16L11.2189 15.3857C11.2418 13.1015 13.1559 11.4274 15.3361 10.2779C16.3992 9.71687 17.466 9.31391 18.2707 9.0506C18.672 8.91956 19.0053 8.82332 19.2371 8.76108C19.3336 8.73485 19.4304 8.70973 19.5275 8.68573Z" fill="%238C20F8"/></svg>') no-repeat 0 0 / 100% auto;
        }
      }
    }
  }
  &.header-light {
    #header {
      background: $cream-3 !important;
      #logo a svg {
        color: $purple-3;
        path[fill="#8C20F8"] {
          fill: $purple-3;
        }
      }
    }
    .pd-navigation .btn {
      border: 1px solid $purple-3;
      color: $purple-3;
      &.active,
      &:hover {
        background: $purple-3;
        color: $cream-3;
      }
    }
    .header__right {
      .btn--white {
        border: 1px solid $purple-3;
        color: $purple-3;
        &:hover {
          background: $purple-3;
          color: $cream-3;
        }
      }
      .btn--arrow i {
        background: $purple-3;

        &:after {
          background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.5275 8.68573H19.7994V7.45719H19.5291L19.516 7.45392C19.4348 7.43316 19.3539 7.41146 19.2732 7.3888C18.9742 7.3045 18.6776 7.21192 18.3837 7.11116C17.6396 6.85726 16.6433 6.46413 15.6265 5.90719C13.5629 4.77694 11.5715 3.06191 11.2124 0.607714L11.1235 0L9.90806 0.177728L9.99692 0.785442C10.4421 3.82893 12.8758 5.80154 15.0364 6.98462C15.3509 7.15661 15.6629 7.31427 15.9664 7.45719H0.200195V8.68573H15.803C15.4511 8.84302 15.1043 9.01156 14.7632 9.19106C12.5314 10.368 10.0211 12.3484 9.99037 15.3734L9.98423 15.9877L11.2128 16L11.2189 15.3857C11.2418 13.1015 13.1559 11.4274 15.3361 10.2779C16.3992 9.71687 17.466 9.31391 18.2707 9.0506C18.672 8.91956 19.0053 8.82332 19.2371 8.76108C19.3336 8.73485 19.4304 8.70973 19.5275 8.68573Z" fill="%23F1E6FF"/></svg>') no-repeat 0 0 / 100% auto;
        }
      }
    }
  }
  &.header-blue {
    #header {
      background: #0C2854 !important;
      #logo a svg {
        color: $cream-3;
        path[fill="#8C20F8"] {
          fill: $cream-3;
        }
      }
    }
    .pd-navigation .btn {
      border: 1px solid $cream-3;
      color: $cream-3;
      &.active,
      &:hover {
        background: $cream-3;
        color: #0C2854;
      }
    }
    .header__right {
      .btn--white {
        border: 1px solid $cream-3;
        color: $cream-3;
        &:hover {
          background: $cream-3;
          color: #0C2854;
        }
      }
      .btn--arrow i {
        background: $cream-3;

        &:after {
          background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.5275 8.68573H19.7994V7.45719H19.5291L19.516 7.45392C19.4348 7.43316 19.3539 7.41146 19.2732 7.3888C18.9742 7.3045 18.6776 7.21192 18.3837 7.11116C17.6396 6.85726 16.6433 6.46413 15.6265 5.90719C13.5629 4.77694 11.5715 3.06191 11.2124 0.607714L11.1235 0L9.90806 0.177728L9.99692 0.785442C10.4421 3.82893 12.8758 5.80154 15.0364 6.98462C15.3509 7.15661 15.6629 7.31427 15.9664 7.45719H0.200195V8.68573H15.803C15.4511 8.84302 15.1043 9.01156 14.7632 9.19106C12.5314 10.368 10.0211 12.3484 9.99037 15.3734L9.98423 15.9877L11.2128 16L11.2189 15.3857C11.2418 13.1015 13.1559 11.4274 15.3361 10.2779C16.3992 9.71687 17.466 9.31391 18.2707 9.0506C18.672 8.91956 19.0053 8.82332 19.2371 8.76108C19.3336 8.73485 19.4304 8.70973 19.5275 8.68573Z" fill="%230C2854"/></svg>') no-repeat 0 0 / 100% auto;
        }
      }
    }
  }
}


