/* custom fonts */
@font-face {
    src: url('../../fonts/RoslindaleDisplay-Light-Testing.woff') format("woff");
    font-family: 'RoslindaleDisplay';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    src: url('../../fonts/RoslindaleDisplay-Regular-Testing.woff') format("woff");
    font-family: 'RoslindaleDisplay';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    src: url('../../fonts/RoslindaleDisplay-Medium-Testing.woff') format("woff");
    font-family: 'RoslindaleDisplay';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    src: url('../../fonts/RoslindaleDisplay-SemiBold-Testing.woff') format("woff");
    font-family: 'RoslindaleDisplay';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
@font-face {
    src: url('../../fonts/RoslindaleDisplay-Bold-Testing.woff') format("woff");
    font-family: 'RoslindaleDisplay';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    src: url('../../fonts/RoslindaleDisplay-Black-Testing.woff') format("woff");
    font-family: 'RoslindaleDisplay';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

////////////////////////////////////
@font-face {
    src: url('../../fonts/Saans-Light.woff') format("woff");
    font-family: 'Saans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    src: url('../../fonts/Saans-Regular.woff') format("woff");
    font-family: 'Saans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    src: url('../../fonts/Saans-Medium.woff') format("woff");
    font-family: 'Saans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    src: url('../../fonts/Saans-SemiBold.woff') format("woff");
    font-family: 'Saans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
@font-face {
    src: url('../../fonts/Saans-Bold.woff') format("woff");
    font-family: 'Saans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    src: url('../../fonts/Saans-Heavy.woff') format("woff");
    font-family: 'Saans';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}


