@function encodecolor($string) {
  @if type-of($string) == 'color' and str-index(#{$string}, '#') == 1 {
    $hex: str-slice(ie-hex-str($string), 4);
    $string: unquote('#{$hex}');
    @return '%23' + $string;
  }
  @return $string;
}

//VARIABLES

//fonts
$d1: 24rem;
$d2: 18rem;
$d3: 10rem;

$h1: 6rem;
$h2: 5.6rem;
$h3: 5rem;
$h4: 4.6rem;
$h5: 3.6rem;
$h6: 3rem;
$h7: 2.4rem;

$p1: 2.6rem;
$p2: 2.2rem;
$p3: 2rem;
$p4: 1.8rem;
$p5: 1.6rem;
$p6: 1.4rem;
$p7: 1.2rem;


//color variable
//new
$white: white;
$purple-1: #150725;
$purple-2: #210B39;
$purple-3: #5E16A6;
$purple-4: #8C20F8;
$purple-5: #B598D3;
$purple-6: #DAB5FF;

$cream-05: #DCC6B2;
$cream-1: #DED3C8;
$cream-2: #F1DECC;
$cream-3: #FCF1E6;

$sec-1: #A2429E;
$sec-2: #D5202C;
$sec-3: #F98F72;
$sec-4: #F4B738;

  //old
      $gold: #F3C17D;
      $green: $purple-4;
      $purple: #420081;



//fonts
//new
$rd: 'RoslindaleDisplay', Arial, sans-serif;
$s: 'Saans', Arial, sans-serif;


//text
.d1,
.d2,
.d3,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: $rd;
  line-height: 1.2;
  margin-bottom: 4rem;
  font-weight: 400;
}
.d1,
.d2,
.d3 {
  font-weight: bold;
  line-height: 1;
}
.d1 {font-size: $d1 !important}
.d2 {font-size: $d2 !important}
.d3 {font-size: $d3 !important}
body {
  h1{ font-size: $h1}
  h2 {font-size: $h2}
  h3 {font-size: $h3}
  h4 {font-size: $h4}
  h5 {font-size: $h5}
  h6 {font-size: $h6}

}

.h1{font-size: $h1 !important}
.h2 {font-size: $h2 !important}
.h3{font-size: $h3 !important}
.h4 {font-size: $h4 !important}
.h5 {font-size: $h5 !important}
.h6 {font-size: $h6 !important}
.h7 {font-size: $h7 !important}

body p {
  font-size: 2rem;
  font-family: $s;
  line-height: 1.3;
  margin-bottom: 3rem;
}
.p1,
.p2,
.p3,
.p4,
.p5,
.p6,
.p7,{
  line-height: 1.2;
}
.p1,
.p1 p {font-size: $p1 !important}
.p2,
.p2 p {font-size: $p2 !important}
.p3,
.p3 p {font-size: $p3 !important}
.p4,
.p4 p {font-size: $p4 !important}
.p5,
.p5 p {font-size: $p5 !important}
.p6,
.p6 p {font-size: $p6 !important}
.p7,
.p7 p{font-size: $p7 !important}

.sub-head {
  font-size: 4rem !important;
  line-height: 1.2;
}
.font-s {
  font-family: $s!important;
}
.font-rd {
  font-family: $rd !important;
  text-transform: none!important;
  &.ia-normal {
    font-weight: 400!important;
  }
}
//font weight
.ia-light {font-weight: 300 !important;}
.ia-regular {font-weight: 400 !important;}
.ia-medium {font-weight: 500 !important;}
.ia-semi-bold {font-weight: 600 !important;}
.ia-bold {font-weight: 700 !important;}
.ia-extra-bold {font-weight: 900 !important;}

//font
.ia-title {font-family: $rd !important}
.ia-text {font-family: $s !important}


//color
.ia-purple-1 {color: $purple-1 !important}
.ia-purple-2 {color: $purple-2 !important}
.ia-purple-3 {color: $purple-3 !important}
.ia-purple-4 {color: $purple-4 !important}
.ia-purple-5 {color: $purple-5 !important}
.ia-purple-6 {color: $purple-6 !important}

.ia-cream-05 {color: $cream-05 !important}
.ia-cream-1 {color: $cream-1 !important}
.ia-cream-2 {color: $cream-2 !important}
.ia-cream-3 {color: $cream-3 !important}
.ia-white {color: $white !important}

.ia-sec-1 {color: $sec-1 !important}
.ia-sec-2 {color: $sec-2 !important}
.ia-sec-3 {color: $sec-3 !important}
.ia-sec-4 {color: $sec-4 !important}

//old
.ia-gold {color: #F3C17D !important;}
.ia-green {color: $green !important;}
.ia-purple {color: $purple !important;}

//background

.ia-bg-purple-1 {background: $purple-1 !important}
.ia-bg-purple-2 {background: $purple-2 !important}
.ia-bg-purple-3 {background: $purple-3 !important}
.ia-bg-purple-4 {background: $purple-4 !important}
.ia-bg-purple-5 {background: $purple-5 !important}
.ia-bg-purple-6 {background: $purple-6 !important}

.ia-bg-cream-05 {background: $cream-05 !important}
.ia-bg-cream-1 {background: $cream-1 !important}
.ia-bg-cream-2 {background: $cream-2 !important}
.ia-bg-cream-3 {background: $cream-3 !important}
.ia-bg-white {background: $white !important}

.ia-bg-sec-1 {background: $sec-1 !important}
.ia-bg-sec-2 {background: $sec-2 !important}
.ia-bg-sec-3 {background: $sec-3 !important}
.ia-bg-sec-4 {background: $sec-4 !important}

//margin
.ia-margin-0 {margin-bottom: 0 !important;}
.ia-margin-1 {margin-bottom: 1rem !important;}
.ia-margin-2 {margin-bottom: 2rem !important;}
.ia-margin-3 {margin-bottom: 3rem !important;}
.ia-margin-4 {margin-bottom: 4rem !important;}

//aligment
.text-left {text-align: left !important;}
.text-right {text-align: right !important;}
.text-center {text-align: center !important;}

//Titles

.ia-sub-title {
  font-size: $p3;
  margin-bottom: 4rem;
  font-family: $s;
  font-weight: 400;
  &--red {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.14rem;
    color: $sec-3;
    text-transform: uppercase;
  }
}

.ia-to-left {
  white-space: nowrap;
  span {
    display: inline-block;
  }
}
.entry-content {
  img.alignleft {
    float: left;
    margin: 0 2rem 2rem 0;
  }
  img.right {
    float: right;
    margin: 0 0 2rem 2rem;
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
html.overlayed {
  overflow: hidden;
  body.overlayed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
  }
}
@keyframes spinner-border {
  to { transform: rotate(360deg) #{"/* rtl:ignore */"}; }
}
.spinner {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -.125em;
  border: .25em solid $purple-4;
  border-right-color: transparent;
  border-radius: 50%;
  animation: .75s linear infinite spinner-border;
}
.loader-contact {
  opacity: 0;
  transition: opacity 0.35s;
}
.submitting {
  .loader-contact {
    opacity: 1;
  }
}
.slick-arrow {
  width: 7rem;
  height: 7rem;
  position: relative;
  border: 1px solid $purple-1;
  border-radius: 50%;
  background: none;
  padding: 0;
  overflow: hidden;
  text-indent: 999px;
  cursor: pointer;
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 3rem;
    height: 2.6rem;
    transform: translate(-50%, -50%);
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="26" viewBox="0 0 30 26" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M29.5838 14.0489H30V12.1684H29.5863L29.5662 12.1634C29.4419 12.1317 29.318 12.0984 29.1945 12.0638C28.7369 11.9347 28.2829 11.793 27.8331 11.6388C26.6941 11.2501 25.169 10.6484 23.6126 9.7959C20.454 8.06586 17.4058 5.4407 16.856 1.68412L16.72 0.753906L14.8596 1.02595L14.9956 1.95616C15.677 6.61475 19.4022 9.63418 22.7094 11.4451C23.1908 11.7084 23.6684 11.9497 24.1329 12.1684H0V14.0489H23.8828C23.3442 14.2897 22.8134 14.5477 22.2913 14.8224C18.8751 16.6239 15.0326 19.6553 14.9856 24.2857L14.9762 25.2259L16.8567 25.2447L16.8661 24.3045C16.9012 20.808 19.831 18.2455 23.1682 16.486C24.7954 15.6273 26.4283 15.0105 27.6601 14.6074C28.2743 14.4069 28.7846 14.2595 29.1394 14.1643C29.2871 14.1241 29.4352 14.0857 29.5838 14.0489Z" fill="%23150725"/></svg>') no-repeat 0 0 / 100% auto;
  }
  &.slick-prev {
    &:after {
      transform: translate(-50%, -50%) scaleX(-1);
    }
  }
  &.slick-disabled {
    border-color: $purple-5;
    pointer-events: none;
    &:after {
      background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="26" viewBox="0 0 30 26" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M29.5838 14.0489H30V12.1684H29.5863L29.5662 12.1634C29.4419 12.1317 29.318 12.0984 29.1945 12.0638C28.7369 11.9347 28.2829 11.793 27.8331 11.6388C26.6941 11.2501 25.169 10.6484 23.6126 9.7959C20.454 8.06586 17.4058 5.4407 16.856 1.68412L16.72 0.753906L14.8596 1.02595L14.9956 1.95616C15.677 6.61475 19.4022 9.63418 22.7094 11.4451C23.1908 11.7084 23.6684 11.9497 24.1329 12.1684H0V14.0489H23.8828C23.3442 14.2897 22.8134 14.5477 22.2913 14.8224C18.8751 16.6239 15.0326 19.6553 14.9856 24.2857L14.9762 25.2259L16.8567 25.2447L16.8661 24.3045C16.9012 20.808 19.831 18.2455 23.1682 16.486C24.7954 15.6273 26.4283 15.0105 27.6601 14.6074C28.2743 14.4069 28.7846 14.2595 29.1394 14.1643C29.2871 14.1241 29.4352 14.0857 29.5838 14.0489Z" fill="%23B598D3"/></svg>') no-repeat 0 0 / 100% auto;
    }
  }
}

.ia-arrow-link {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background: $cream-2;
  position: relative;
  transition: background .35s, opacity .35s;
  svg {
    color: $purple-1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: color .35s;
  }
}
.ia-head {
  .ia-head__word {
    display: inline-block;
    vertical-align: top;
  }
  .ia-head__letter {
    display: inline-block;
    vertical-align: top;
    transition: opacity .2s cubic-bezier(.5, 1, .89, 1), transform 0.5s cubic-bezier(.5, 1, .89, 1);
  }
  &.wow {
    .ia-head__letter {
      opacity: 0;
      transform: translateY(50%) skew(-20deg, 0);
    }
    &[style*='visible']{
      .ia-head__letter {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }
}
.ia-text-cut {
  &.wow {
    .ia-word {
      overflow: hidden;
      display: inline-block;
      vertical-align: top;
      .ia-word__in {
        opacity: 0;
        display: block;
        transform: translate(0, 100%);
        transition: opacity 0.35s .3s, transform .85s .3s;
      }
    }
    &[style*='visible']{
      .ia-word  {
        .ia-word__in {
          opacity: 1;
          transform: translate(0, 0);
        }
      }
    }
  }
}
.ia-insight__tags {
  a {
    pointer-events: none;
  }
}



body .uwy.userway_p3 .userway_buttons_wrapper {
  bottom: 65px !important;
}
img {
  &:not(.paint) {
    max-width: 100%;
    height: auto;
  }
}
.clear {
  font-size: 1px;
  clear: both;
}
#snippet-box {
  display: none;
  visibility: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
}

.seo-title {
  visibility: hidden;
  width: 1px;
  height: 0px;
  opacity: 0;
  margin: 0;
}
#main {
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
//btn
.btn {
  border: none;
  cursor: pointer;
  z-index: 5;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  position: relative;
  background: $purple-2;
  color: $white;
  font-size: 2rem;
  font-weight: 500;
  padding: 1.8rem 2.4rem;
  line-height: 1;
  border-radius: 3.8rem;
  transition: background 0.35s, color 0.35s, padding 0.35s;
  em {
    font-style: normal;
  }
  span {
    position: relative;
    display: block;
    transition: padding 0.35s;
  }
  &--light {
    background: $purple-4;
  }
  &--white {
    background: #fff;
    color: $purple-1;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
  }
  &--small {
    font-size: 1.6rem;
    padding: 1.6rem 2rem;
  }
  &--arrow {
    padding-right: 1rem !important;
    span {
      padding-right: 4rem;
    }
    i {
      width: 3rem;
      height: 3rem;
      border-radius: 3rem;
      position: absolute;
      background: $purple-4;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      &:after {
        content: "";
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.5275 8.68573H19.7994V7.45719H19.5291L19.516 7.45392C19.4348 7.43316 19.3539 7.41146 19.2732 7.3888C18.9742 7.3045 18.6776 7.21192 18.3837 7.11116C17.6396 6.85726 16.6433 6.46413 15.6265 5.90719C13.5629 4.77694 11.5715 3.06191 11.2124 0.607714L11.1235 0L9.90806 0.177728L9.99692 0.785442C10.4421 3.82893 12.8758 5.80154 15.0364 6.98462C15.3509 7.15661 15.6629 7.31427 15.9664 7.45719H0.200195V8.68573H15.803C15.4511 8.84302 15.1043 9.01156 14.7632 9.19106C12.5314 10.368 10.0211 12.3484 9.99037 15.3734L9.98423 15.9877L11.2128 16L11.2189 15.3857C11.2418 13.1015 13.1559 11.4274 15.3361 10.2779C16.3992 9.71687 17.466 9.31391 18.2707 9.0506C18.672 8.91956 19.0053 8.82332 19.2371 8.76108C19.3336 8.73485 19.4304 8.70973 19.5275 8.68573Z" fill="white"/></svg>') no-repeat 0 0 / 100% auto;
        width: 20px;
        height: 16px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &--purple-5-outline {
    background: transparent;
    border: 1px solid $purple-5;
    color: $purple-5;
    &.btn--arrow {
      i {
        background: $purple-5;
        &:after {
          background:  url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.5275 8.68573H19.7994V7.45719H19.5291L19.516 7.45392C19.4348 7.43316 19.3539 7.41146 19.2732 7.3888C18.9742 7.3045 18.6776 7.21192 18.3837 7.11116C17.6396 6.85726 16.6433 6.46413 15.6265 5.90719C13.5629 4.77694 11.5715 3.06191 11.2124 0.607714L11.1235 0L9.90806 0.177728L9.99692 0.785442C10.4421 3.82893 12.8758 5.80154 15.0364 6.98462C15.3509 7.15661 15.6629 7.31427 15.9664 7.45719H0.200195V8.68573H15.803C15.4511 8.84302 15.1043 9.01156 14.7632 9.19106C12.5314 10.368 10.0211 12.3484 9.99037 15.3734L9.98423 15.9877L11.2128 16L11.2189 15.3857C11.2418 13.1015 13.1559 11.4274 15.3361 10.2779C16.3992 9.71687 17.466 9.31391 18.2707 9.0506C18.672 8.91956 19.0053 8.82332 19.2371 8.76108C19.3336 8.73485 19.4304 8.70973 19.5275 8.68573Z" fill="#{encodecolor($purple-2)}"/></svg>') no-repeat 0 0 / 100% auto;
        }
      }
    }
  }
  &--white-outline {
    background: transparent;
    border: 1px solid $cream-3;
    color: $cream-3;
    &.btn--arrow {
      i {
        background: $cream-3;
        &:after {
          background:  url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.5275 8.68573H19.7994V7.45719H19.5291L19.516 7.45392C19.4348 7.43316 19.3539 7.41146 19.2732 7.3888C18.9742 7.3045 18.6776 7.21192 18.3837 7.11116C17.6396 6.85726 16.6433 6.46413 15.6265 5.90719C13.5629 4.77694 11.5715 3.06191 11.2124 0.607714L11.1235 0L9.90806 0.177728L9.99692 0.785442C10.4421 3.82893 12.8758 5.80154 15.0364 6.98462C15.3509 7.15661 15.6629 7.31427 15.9664 7.45719H0.200195V8.68573H15.803C15.4511 8.84302 15.1043 9.01156 14.7632 9.19106C12.5314 10.368 10.0211 12.3484 9.99037 15.3734L9.98423 15.9877L11.2128 16L11.2189 15.3857C11.2418 13.1015 13.1559 11.4274 15.3361 10.2779C16.3992 9.71687 17.466 9.31391 18.2707 9.0506C18.672 8.91956 19.0053 8.82332 19.2371 8.76108C19.3336 8.73485 19.4304 8.70973 19.5275 8.68573Z" fill="#{encodecolor($purple-4)}"/></svg>') no-repeat 0 0 / 100% auto;
        }
      }
    }
  }
  &.see-more {
    position: relative;
    &:after {
      position: absolute;
      inset: 0;
      border-radius: 3.8rem;
      content: '';
      background: rgba(255,255,255,.7) url(../../images/loader-purple.svg) no-repeat 50% 0 / 5.6rem 100%;
      transition: opacity .35s; 
      opacity: 0;
    }
    &.in-progress {
      pointer-events: none;
      &:after {
        opacity: 1;
      }
    }
    &:hover {
      color: $white;
    }
  }
}
.ia-link {
  font-size: 1.7rem;
  line-height: 1;
  font-family: $s;
  font-weight: 400;
  color: $purple-2;
  position: relative;
  text-decoration: none;
  padding: 2px 0;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: $sec-1;
  }
  &--arrow {
    padding-right: 2rem;
    &:before {
      width: 0;
    }
    &:after {
      content: '»';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      color: $sec-1;
    }
  }
  &--big {
    font-size: 2.3rem;
  }
  &--white {
    color: $white;
    &.ia-link--arrow {
      &:after {
        color: $sec-3;
      }
    }
    &.ia-link--white {
      &:before {
        background: $sec-3;
      }
    }
  }
}


.flexible-module {
  margin: 8rem 0 !important;
  &--filled {
    margin: 0 !important;
    padding: 8rem 0;
    &.ia-bg-purple-2 {
      &:last-child {
        padding-bottom: 2rem;
      }
    }
  }
}


  .slick-arrow:hover {
    background: $purple-3;
    &:after {
      background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="26" viewBox="0 0 30 26" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M29.5838 14.0489H30V12.1684H29.5863L29.5662 12.1634C29.4419 12.1317 29.318 12.0984 29.1945 12.0638C28.7369 11.9347 28.2829 11.793 27.8331 11.6388C26.6941 11.2501 25.169 10.6484 23.6126 9.7959C20.454 8.06586 17.4058 5.4407 16.856 1.68412L16.72 0.753906L14.8596 1.02595L14.9956 1.95616C15.677 6.61475 19.4022 9.63418 22.7094 11.4451C23.1908 11.7084 23.6684 11.9497 24.1329 12.1684H0V14.0489H23.8828C23.3442 14.2897 22.8134 14.5477 22.2913 14.8224C18.8751 16.6239 15.0326 19.6553 14.9856 24.2857L14.9762 25.2259L16.8567 25.2447L16.8661 24.3045C16.9012 20.808 19.831 18.2455 23.1682 16.486C24.7954 15.6273 26.4283 15.0105 27.6601 14.6074C28.2743 14.4069 28.7846 14.2595 29.1394 14.1643C29.2871 14.1241 29.4352 14.0857 29.5838 14.0489Z" fill="white"/></svg>') no-repeat 0 0 / 100% auto;
    }
  }
  .btn {
    &:hover {
      color: $white;
      background: $purple-3;
    }
  }
  .ia-link {
    &:hover {
      color: $sec-1;
    }
    &--white:hover {
      color: $sec-3;
    }
  }

.ia-white {
  a {
    color: $white;

  }
}
.case-service-control {
  display: flex;
  align-items: center;
  color: $white;
  text-align: right;
  font-size: 1.8rem;
  line-height: 1.4;
  &-count {
    margin-right: 1.5rem;
  }
}
.case-service-control-btns {
  display: flex;
  width: 155px;
  justify-content: space-between;
  .slick-arrow {
    border: 1px solid $white;
    color: $white;
    overflow: hidden;
    background: none;
    padding: 0;
    z-index: 10;
    cursor: pointer;
    position: relative;
    transition: all .35s;
    &:after {
      background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="26" viewBox="0 0 30 26" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M29.5838 14.0489H30V12.1684H29.5863L29.5662 12.1634C29.4419 12.1317 29.318 12.0984 29.1945 12.0638C28.7369 11.9347 28.2829 11.793 27.8331 11.6388C26.6941 11.2501 25.169 10.6484 23.6126 9.7959C20.454 8.06586 17.4058 5.4407 16.856 1.68412L16.72 0.753906L14.8596 1.02595L14.9956 1.95616C15.677 6.61475 19.4022 9.63418 22.7094 11.4451C23.1908 11.7084 23.6684 11.9497 24.1329 12.1684H0V14.0489H23.8828C23.3442 14.2897 22.8134 14.5477 22.2913 14.8224C18.8751 16.6239 15.0326 19.6553 14.9856 24.2857L14.9762 25.2259L16.8567 25.2447L16.8661 24.3045C16.9012 20.808 19.831 18.2455 23.1682 16.486C24.7954 15.6273 26.4283 15.0105 27.6601 14.6074C28.2743 14.4069 28.7846 14.2595 29.1394 14.1643C29.2871 14.1241 29.4352 14.0857 29.5838 14.0489Z" fill="%23ffffff"/></svg>') no-repeat 0 0 / 100% auto
    }
    &.slick-prev {
      &:before {
        transform: translate(-50%, -50%) scaleX(-1);
      }
    }
    &.slick-disabled {
      border-color: #B598D3;
      &:after {
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="26" viewBox="0 0 30 26" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M29.5838 14.0489H30V12.1684H29.5863L29.5662 12.1634C29.4419 12.1317 29.318 12.0984 29.1945 12.0638C28.7369 11.9347 28.2829 11.793 27.8331 11.6388C26.6941 11.2501 25.169 10.6484 23.6126 9.7959C20.454 8.06586 17.4058 5.4407 16.856 1.68412L16.72 0.753906L14.8596 1.02595L14.9956 1.95616C15.677 6.61475 19.4022 9.63418 22.7094 11.4451C23.1908 11.7084 23.6684 11.9497 24.1329 12.1684H0V14.0489H23.8828C23.3442 14.2897 22.8134 14.5477 22.2913 14.8224C18.8751 16.6239 15.0326 19.6553 14.9856 24.2857L14.9762 25.2259L16.8567 25.2447L16.8661 24.3045C16.9012 20.808 19.831 18.2455 23.1682 16.486C24.7954 15.6273 26.4283 15.0105 27.6601 14.6074C28.2743 14.4069 28.7846 14.2595 29.1394 14.1643C29.2871 14.1241 29.4352 14.0857 29.5838 14.0489Z" fill="%23B598D3"/></svg>') no-repeat 0 0 / 100% auto;
      }
    }
    &:hover {
      border: 1px solid $purple-4;
    }
  }
}

.slick-dots {
  list-style-type: none;
  text-align: center;
  display: block;
  margin-top: 2rem;
  li {
    width: 3rem;
    margin: 0 1rem;
    display: inline-block;
    padding: 0 !important;
    button {
      padding: 0;
      border: none;
      width: 100%;
      height: 40px;
      display: block;
      cursor: pointer;
      position: relative;
      background: transparent;
      overflow: hidden;
      text-indent: -9999px;
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background: $sec-3;
        opacity: 0;
        transition: opacity 0.35s;
        transform: translate(0, -50%);
      }
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        border-radius: 10px;
        background: $cream-05;
        transition: opacity 0.35s;
        transform: translate(0, -50%);
      }
    }
    &.slick-active {
      button {
        &:before {
          opacity: 0;
        }
        &:after {
          opacity: 1;
        }
      }
    }
  }
}
















  .btn-blue {
    background: #8C20F8;
    padding: 1.6rem 2.4rem;
    border-radius: 3.8rem;
    font-size: 2rem;
    line-height: 1.2;
    color: #fff;
    text-decoration: none;
    border: .2rem solid #8C20F8;
    transition: color .35s, background .35s;
    cursor: pointer;
    &:hover {
      color: #8C20F8;
      background: #fff;
    }
  }
  .hidden {
    position: absolute;
    left: 0;
    top: -500px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  @keyframes bounce {
    from, 20%, 53%, 80%, to {

      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);

      transform: translate3d(0,0,0);
    }

    40%, 43% {

      animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);

      transform: translate3d(0, -30px, 0);
    }

    70% {

      animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);

      transform: translate3d(0, -15px, 0);
    }

    90% {

      transform: translate3d(0,-4px,0);
    }
  }
  .bounce {
    animation-name: bounce;
    transform-origin: center bottom;
    animation-duration: 1s;
    animation-fill-mode: both;
  }










  .decor-donut {
    width: 5.5rem;
    height: 5.5rem;
    background: linear-gradient(90deg, rgba(159,70,154,1) 0%, rgba(115,52,149,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    span {
      background: #ffffff;
      width: 3.7rem;
      height: 3.7rem;
      border-radius: 100px;
    }
  }

  .decor-doublesquare {
    position: relative;
    width: 8rem;
    height: 8rem;
    &::before {
      background: #edeaf0;
      box-shadow: 0px 0px 7px 1px #edeaf0;
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 10px;
      position: absolute;
      content: '';
      bottom: 0;
      right: 0;
    }
    &::after {
      background: #bc97d8;
      box-shadow: 0px 0px 7px 1px #bf96d8;
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 10px;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
    }
    &--dark {
      &::before {
        background: #2f124d;
        box-shadow: 0px 0px 7px 1px #2f124d;
      }
      &::after {
        background: #bf96d8;
        box-shadow: 0px 0px 7px 1px #bf96d8;
      }
    }
  }

  .decor-singlesquare {
    position: relative;
    width: 6.5rem;
    height: 6.5rem;
    &::after {
      background: #bc97d8;
      box-shadow: 0px 0px 7px 1px #bf96d8;
      width: 6.5rem;
      height: 6.5rem;
      border-radius: 10px;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
    }
    &--dark {
      &::after {
        background: #2f124d;
        box-shadow: 0px 0px 7px 1px #2f124d;
      }
    }
  }

  .link-button {
    display: inline-block;
    border: 2px solid #00e06d;
    -webkit-appearance: none;
    border-radius: 0px;
    background: none;
    color: #00e06d;
    font-size: 1.1rem;
    line-height: 2.3rem;
    font-weight: bold;
    font-family: $s;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    min-width: 17rem;
    text-decoration: none;
    padding: 1.5rem 5rem;
    letter-spacing: 2px;
    &::before {
      display: block;
      position: absolute;
      top: 50%;
      right: 7%;
      margin-top: -6px;
      height: 20px;
      width: 44px;
      content: '';
      background: url(../../images/sprite.png) no-repeat -110px -217px;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      -webkit-transition: -webkit-transform .5s;
      transition: transform .5s;
      z-index: 1;
    }
    &::after {
      background: #00e06d none repeat scroll 0 0;
      bottom: 0;
      content: "";
      display: block;
      height: 5px;
      left: 0;
      position: absolute;
      right: 0;
      width: 0px;
      -webkit-transition: width 0.5s ease 0s;
      transition: width 0.5s ease 0s;
    }
    &:hover {
      color: #00e06d;
      &:after {
        width: 100%;
      }
      &::before {
        right: 5%;
        -webkit-transform: translate(.5rem, 0);
        transform: translate(.5rem, 0);
      }
    }
    &--green {
      color: #ffffff;
      background: #00e06d;
      &:hover {
        color: #ffffff;
      }
    }
    &--greenpink {
      border: none;
      color: #ffffff;
      background: #00e06d;
      &::after {
        background: #310254 none repeat scroll 0 0;
        height: 100%;
        left: 0;
        top: 0;
        width: 0;
      }
      &:hover {
        color: #ffffff;
        &::after {
          width: 100%;
        }
      }
      span {
        position: relative;
        z-index: 1;
      }
    }
  }

  .custom-videoplayer + video::-webkit-media-controls-panel { display: none ! important; opacity: 1 ! important;}
  .custom-videoplayer + audio::-webkit-media-controls-timeline,
  .custom-videoplayer + video::-webkit-media-controls-timeline {
    display: none;
  }
  .custom-videoplayer + audio::-webkit-media-controls,
  .custom-videoplayer + video::-webkit-media-controls {
    display: none;
  }
  .custom-videoplayer:hover .video-controls {
    display: block;
  }
  .service-pages {
    &__link {
      color: $white;
      margin-right: 32px;
      cursor: pointer;
      text-decoration: none;
      margin-bottom: 15px;
      display: inline-block;
      padding-bottom: .5rem;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        transition: width .35s;
        height: 3px;
        background: $purple-4;
      }
      &.active {
        &:after {
          width: 100%;
        }
      }
      &:hover {
        color: $white;
        &:after {
          width: 100%;
        }
      }
    }
  }
  .custom-videoplayer {
    position: relative;
    width: 100%;
    height: 100%;
    video {
      display: block;
    }
    .video-controls {
      position: absolute;
      z-index: 10;
      right: 0;
      bottom: 0 !important;
      left: 0;
      width: 100%;
      margin: auto;
      padding: 0 0 15px 0;
      transition: all 0.4s ease-in-out;
      display: none;
      height: 100%;
      &.playing {
        .play-button {
          background: url(../../images/pause.svg) no-repeat 0 0;
          cursor: pointer;
          display: block;
          z-index: 23;
          text-indent: -9999px;
          transition: opacity 0.35s, visibility 0.35s;
        }
      }
      .top-wrapper {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      .bottom-wrapper {
        padding: 0 20px 0 20px;
        display: block;
      }
      .progress-bar {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 10px;
        margin-bottom: 0;
        cursor: pointer;
        background: rgba(#f1f1f1, 0.6);
        span {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 0;
          height: 100%;
        }
        .time-bar {
          z-index: 10;
          background: $purple-4;
        }
        .buffer-bar {
          z-index: 5;
          background: rgba(#f1f1f1, 0.6);
        }
      }
      .play-button {
        position: absolute;
        right: 20px;
        bottom: 20px;
        width: 120px;
        height: 120px;
        background: url(../../images/play.svg) no-repeat 0 0;
        cursor: pointer;
        display: block;
        z-index: 23;
        text-indent: -9999px;
        transition: opacity 0.35s, visibility 0.35s;
      }
      .time {
        font-size: 11px;
        font-weight: 600;
        line-height: 12px;
        display: inline-block;
        width: 80px;
        vertical-align: middle;
        color: #f1f1f1;
      }
      .sound-button {
        display: inline-block;
        width: 16px;
        cursor: pointer;
        vertical-align: middle;
        &:before {
          font-family: 'FontAwesome';
          content: '\f027';
          color: #fff;
        }
      }
      .sound-med {
        &:before {
          font-family: 'FontAwesome';
          content: '\f028';
          color: #fff;
        }
      }
      .sound-muted {
        &:before {
          font-family: 'FontAwesome';
          content: '\f026';
          color: #fff;
        }
      }
      .volume {
        position: relative;
        display: inline-block;
        overflow: hidden;
        width: 70px;
        height: 4px;
        cursor: pointer;
        vertical-align: middle;
        border-radius: 10px;
        background-color: rgba(#fff, 0.6);
        .volume-bar {
          position: absolute;
          z-index: 10;
          top: 0;
          left: 0;
          display: block;
          height: 100%;
          background-color: #fff;
        }
      }
      .btnFS {
        position: relative;
        top: 3px;
        display: inline-block;
        float: right;
        cursor: pointer;
        vertical-align: middle;
        &:before {
          font-family: 'FontAwesome';
          font-size: 14px;
          content: '\f0b2';
          color: #fff;
        }
      }
    }
  }
  .grecaptcha-badge {
    visibility: hidden;
    position: absolute;
    bottom: 0;
  }
  .wpcf7-response-output {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;

  }
  //.wpcf7-response-output {
  //  visibility: hidden;
  //  display: none!important;
  //}
  .deco {
    position: absolute;
    transform: scale(0);
    transition: transform .5s linear .7s;
    span {
      border-radius: 50%;
      background: #01e471;
      display: block;
    }
  }
  .animated .deco {
    transform: scale(1);
  }
  .caption,
  .wp-caption-text {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: $purple-2;
    padding-left: 30px;
    position: relative;
    margin-top: 15px;    
    a {
      text-underline-offset: 2px;
      color: $purple-2;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .caption:before,
  .wp-caption-text:before {
    width: 17px;
    height: 7px;
    background: $purple-2;
    position: absolute;
    top: 3px;
    left: 0;
    content: "";
  }
  .wp-caption {
    margin-bottom: 5.5rem;
    max-width: 100%;
  }
  .wp-video {
    max-width: 100%;
    height: auto;
  }
  .wp-video {
    margin-bottom: 3.2rem;
  }
  .entry-content {
    p {
      font-size: $p3;
      line-height: 1.3;
      &:last-child {
        margin-bottom: 0;
      }
    }
    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 { 
      font-weight: bold!important;
      margin-bottom: 2.7rem;
    }
  
    ul:not(.slick-dots) {
      list-style-type: none;
      padding: 0;
      margin: 0 0 3rem;
      li {
        padding: 0 0 0.5rem 5rem;
        position: relative;
        font-size: $p4; 
        &:last-child {
          padding-bottom: 0;
        }
        &::before {
          position: absolute;
          left: 1.5rem;
          top: .9rem;
          width: 1rem;
          height: 1rem; 
          border-radius: 50%;
          content: '';
          background: $sec-2;
        }
        .p4 {
          font-size: $p4;
          margin-bottom: 1rem;
        }
        p {
          font-size: $p4; 
          line-height: 1.3;
          margin-bottom: 0;
        }
      }
    }
  
    ol {
      counter-reset: item;
      margin-left: 0;
      padding-left: 0;
      li {
        display: block;
        margin-bottom: 3rem;
        margin-left: 2em;
        font-size: $p4; 
        line-height: 1.3;
        &:before {
          display: inline-block;
          content: counters(item, ".", decimal-leading-zero);
          counter-increment: item;
          width: 2em;
          color: $purple-4;
          margin-left: -2em;
        }
      }
    }
  }
@media screen and ( max-width: 1280px ) {
  .d2 {font-size: $d3 !important;}//
}
@media screen and ( max-width: 1200px ) {
  .d1 {font-size: 17rem !important;}//
  .d2 {font-size: $d3 !important;}//
  .d3 {font-size: $h2 !important;}//

  .h1 {font-size: $h3 !important;}//
  .h2 {font-size: $h3 !important;}//
  .h3 {font-size: $h4 !important;}//
  .h4 {font-size: $h5 !important;}//
  .h5 {font-size: $h6 !important;}//
  .h6 {font-size: $h7 !important;}
  .h7 {font-size: $p1 !important;}

  body {
    h1 {font-size: $h3;}
    h2 {font-size: $h3;}
    h3 {font-size: $h4;}
    h4 {font-size: $h5;}
    h5 {font-size: $h6;}
    h6 {font-size: $h7;}

  }




}
@media screen and ( max-width: 767px ) {

  .d1, .d2, .d3, .h1, .h2, .h3, .h4, .h5, .h6, body h1, body h2, body h3, body h4, body h5, body h6, body p {
    margin-bottom: 2rem;
  }
  .d1 {font-size: $h3 !important;}// was d3
  .d2 {font-size: $h1 !important;}//
  .d3 {font-size: $h3 !important;}//

  .h1 {font-size: $h6 !important;}//
  .h2 {font-size: $h7 !important;}//
  .h3 {font-size: $h7 !important;}//
  .h4 {font-size: $h7 !important;}//
  .h5 {font-size: $h7 !important;}//
  .h6 {font-size: $h6 !important;}
  .h7 {font-size: $h7 !important;}

  .p1,
  .p1 p {font-size: $p3 !important;}//
  .p2,
  .p2 p {font-size: $p4 !important;}//
  .p3,
  .p3 p {font-size: $p5 !important;}
  .p4,
  .p4 p {font-size: $p6 !important;}//
  .p5,
  .p5 p {font-size: $p7 !important;}
  .p6,
  .p6 p {font-size: $p7 !important;}
  .p7,
  .p7 p {font-size: $p7 !important;}

  .sub-head {font-size: 2.2rem !important;}

  .ia-sub-title {
    font-size: $p5 !important;
    margin-bottom: 2rem;
  }


  body {
    h1 {font-size: $h6 !important;}//
    h2 {font-size: $h7 !important;}//
    h3 {font-size: $h7 !important;}//
    h4 {font-size: $h7 !important;}//
    h5 {font-size: $h7 !important;}//
    h6 {font-size: $h6 !important;}
    p {font-size: $p5;}
  }
  .entry-content ul li {
    font-size: 1.6rem;
    paddding-bottom: 2rem;
  }


  //old
  .ia-h1 {
    font-size: 6.2rem !important;
  }
  .ia-h2 {
    font-size: 4.7rem !important;
  }
  .ia-h3 {
    font-size: 3.2rem !important;
  }
  .ia-h4 {
    font-size: 3.1rem !important;
  }

  .ia-arrow-link {
    width: 5.2rem;
    height: 5.2rem;
    svg {
      width: 2.2rem;
    }
  }
  .cc-revoke.cc-right {
    right: 0;
  }
  .btn {
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    &--filter {
      text-transform: uppercase;
      font-size: 1.2rem;
      letter-spacing: 0;
      border: 1px solid $purple-4;
    }
    &--close {
      display: none;
    }
    &--close.btn--light {
      background: $purple-4 !important;
      border: 1px solid $purple-4;
      padding-right: .5rem;
      letter-spacing: 0;
      span {
        padding-right: 3.5rem;
        svg {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(0, -50%);
        }
      }
    }
  }
  .flexible-module {
    margin: 5rem 0 !important;
    &--filled {
      margin: 0 !important;
      padding: 5rem 0;
    }
  }
  .entry-content {
    img.alignleft,
    img.right {
      float: none;
      margin: 0 0 2rem 0;
      display: block;
    }
    ul:not(.slick-dots) li {
      padding-left: 2rem;
      &::before {
        left: 0;
      }
    }
  }
  .case-service-control {
    font-size: 1.4rem;
    &-btns {
      width: 115px;

      .slick-arrow {
        width: 50px;
        height: 50px;

        &:after {
          transform: translate(-50%, -50%) scale(0.7);
        }

        &.slick-prev {
          &:after {
            transform: translate(-50%, -50%) scale(0.7) scaleX(-1);
          }
        }

      }
    }
  }
  body .uwy.userway_p3 .userway_buttons_wrapper {
    //bottom: 45px !important;
  } 
  .custom-videoplayer .video-controls .play-button {
    transform: scale(.5);
    transform-origin: 100% 100%;
  }
  .ia-text-cut.wow .ia-word .ia-word__in {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media screen and ( max-width: 365px ) {
  .cc-revoke.cc-right {
    font-size: 1.2rem;
  }
}
.cc-window {
  transition: all 0s!important;
}