@mixin transition($transition...) {
  -webkit-transition: $transition;     
  transition: $transition;
}
@mixin transition-delay($transition){
  -webkit-transition-delay: $transition;
  transition-delay: $transition;
}
@mixin translate ($Xtranslate, $Ytranslate, $Ztranslate) {
  -webkit-transform: translate3d($Xtranslate, $Ytranslate, $Ztranslate);
  transform: translate3d($Xtranslate, $Ytranslate, $Ztranslate);
}

@mixin scale ($scale) {
  -webkit-transform: scale($scale);
  transform: scale($scale);
}

@mixin rotate ($rotate) {
  -webkit-transform: rotate($rotate);
  transform: rotate($rotate);
}
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

