/* browser reset */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-size: 1.9rem;
  line-height: 1.4;
  font-weight: 400;
  font-family: $s;
  padding: 0;
  color: #210b39;
  background: $cream-3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
.hidden {
  position: absolute;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: $sec-1;
  transition: color 0.35s ease 0s;
  text-underline-offset: .5rem;
}
a:hover {
  color: $purple-4;
}
a:focus {
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input, select {
  vertical-align: middle;
}
textarea:focus,
input:focus,
button:focus{
  outline: none;
}
input, button {
  border-radius: 0px;
  -webkit-appearance: none;
}
svg {
  max-width: 100%;
  height: auto;
}

/* go structure */

#page {
  width: 100%;
  overflow: hidden;
}
#page.page-change:before {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  z-index: 99;
  content: ''
}
.inner {
  width: 100%;
  max-width: 1380px;
  padding: 0 3rem;
  margin: 0 auto;
  box-sizing: border-box;
}
.clear {
  font-size: 1px;
  clear: both;
}

.animated {
  -webkit-transform: translate(0,0)!important;
  transform: translate(0,0)!important;
  opacity: 1!important;
}
.no-js .wow {
  visibility: visible !important;
  opacity: 1 !important;
}

@media screen and ( max-width: 1599px ) {
  //html {
  //  font-size: 60%;
  //}

}
@media screen and ( max-width: 1400px ) {
  //html {
  //  font-size: 58%;
  //}

}
@media screen and ( max-width: 1280px ) {
  //html {
  //  font-size: 56%;
  //}
}
@media screen and ( max-width: 1152px ) {
  //html {
  //  font-size: 54%;
  //}
}
@media screen and ( max-width: 1024px ) {
  //html {
  //  font-size: 52%;
  //}

}
@media screen and ( max-width: 767px ) {
  //html {
  //  font-size: 48%;
  //}
  .inner {
    padding: 0 5%;
  }

}