#body {
  display: none;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  //opacity: 0;
  z-index: 999;
  padding: 2rem 0;
  transition: background .5s, opacity .5s, padding .5s;
  .logged-in & {
    top: 32px;
  }
}
.header__right {
  float: right;
  display: flex;
  .btn {
    margin-right: 2rem;
  }
}
.loaded {
  #header {
    opacity: 1;
  }
  .page-change #header {
    opacity: 0;
    transition: background .5s, opacity .5s ease .1s;
  }
}

#header {
  &.scrolled {
    background: $purple-1 !important;
    padding: 1rem 0;
    &.temp {
      box-shadow: none;
      background: transparent;
    }
    #logo a {
      svg {
        color: $white;
      }
    }
    .menu-icon {
      border-color: $white;
      span {
        &:before,
        &:after {
          background: $white;
        }
      }
    }
  }
  &.site-header--light {
    #logo a {
      svg {
        color: $white;
      }
    }
    .menu-icon {
      border-color: $white;
      span {
        &:before,
        &:after {
          background: $white;
        }
      }
    }
  }
}
.page-template-work-new-page {
  #header {
    background: none !important;
    padding: 2rem 0;
    &.scrolled {
      background: none !important;
    }
  }
  &.single-case-study {
    #header {
      &.scrolled {
        background: $purple-1 !important;
        padding: 1rem 0;
      }
    }
  }
}
.navi-active #header {
  background: $purple-1 !important;
  box-shadow: none;
  #logo a {
    svg {
      color: $white;
    }
  }
  &.scrolled {
    padding: 2rem 0;
    background: none;
    box-shadow: none;
  }
  z-index: 28000003;
}
#header .inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //&:after {
  //  content: '';
  //  display: block;
  //  clear: both;
  //}
}
#logo {
  float: left;
  a {
    display: block;
    max-width: 153px;
    svg {
      color: $purple-2;
      max-width: 100%;
      height: auto;
      display: block;
      transition: color 0.35s;
    }
  }
}
#header.scrolled #logo a {

}
/*================== NAVI =======================*/
#navi {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  box-sizing: border-box;

  visibility: hidden;
  background: $purple-1;
  transition: opacity 0.5s, visibility 0.5s;
  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 28000002;
  }
  li {
    font-family: $rd;
    font-size: 9vh;
    font-weight: 400;
    line-height: 1.2;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
    opacity: 1;
    transition: transform 1s, opacity 0.8s;
    border-bottom: 1px solid rgba(181, 152, 211, 0.3);
    &:last-child {
      margin-bottom: 0;
    }
    a {
      color: $white;
      text-decoration: none;
      transition: color 0.35s;
    }
    &.current-menu {

    }
    .sub-menu {
      flex-wrap: wrap;
      display: flex;
      margin-top: 3rem;
      li {
        display: inline-block;
        vertical-align: top;
        font-size: 2rem;
        min-width: 21%;
        margin-right: 4%;
        font-family: $s;
        margin-bottom: 2rem;
        padding-bottom: 0;
        border-bottom: none;
        a {
          padding-left: 1.6rem;
          position: relative;
          display: block;
          &:before {
            content: '';
            width: .6rem;
            height: .6rem;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
            border-radius: 50%;
            background: $purple-4;
          }
        }
      }
    }
  }
}
.nav-menu {
  width: calc(100% - 320px);
  overflow-y: auto;
  max-height: 80vh;
}
.nav-contact {
  width: 250px;
}
.inner-navi {
  padding-top: 40px;
  max-width: 1380px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  top: 50%;
  padding: 40px 3rem 0;
  transform: translate(0, -50%);
  max-height: 90vh;
}

.nav-contact {
  &__title {
    letter-spacing: 0.14rem;
    line-height: 1.2;
    text-transform: uppercase;
  }
}
.nav-offices {
  margin-bottom: 5rem;
  &:last-child {
    margin-bottom: 0;
  }
}
.nav-office__item {
  margin-bottom: 2.5rem;
  a {
    line-height: 2;
    text-decoration-color: $sec-3;
    &:hover {
      color: $sec-3;
    }
  }
}

/*=================== WHITE HEADER STYLES ==============*/
body.overlayed, 
html.overlayed {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
body.overlayed {
  &.no-touch {
    overflow-y: auto;
  }
  #header {
    opacity: 0;
  }
}


/*================== MENU ICON ==================*/
.menu-icon {
  position: relative;
  width: 74px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid $purple-1;
  transition: border .35s, background .35s;
  background: none;
  padding: 0;
  cursor: pointer;
  span {
    width: 30px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: 2px;
      background: $purple-1;
      transform: translate(-50%, 0);
      transition: background 0.35s, transform .5s;
    }
    &:after {
      top: auto;
      bottom: 0;
    }
  }
  &.active {
    border-color: $white;
    span {
      &:before {
        background: $white;
        top: 50%;
        transform: translate(-50%, -50%) rotate(150deg);
      }
      &:after {
        background: $white;
        bottom: 50%;
        transform: translate(-50%, 50%) rotate(-150deg);
      }
    }
  }
  &--white {
    border: 1px solid $white;
    span {
      &:after,
      &:before {
        background: $white;
      }
    }
  }
}


body:not(.page-template-home-page-new):not(.error404):not(.page-template-PPC-landing) {
  #logo a svg {
    color: $white;
  }
  .menu-icon {
    border-color: $white;
    span {
      &:before,
      &:after {
        background: $white;
      }
    }
  }
}

body.page-template-PPC-landing {
  .menu-icon {
    display: none;
  }
  #logo a svg {
    color: $purple-1;
  }
}

html:not(.touch-device) {
  .menu-icon:hover {
    background: $purple-3;
    border-color: $purple-3 !important;
    span {
      &:after,
      &:before {
        background: $white;
      }
    }

  }
  #navi li a:hover {
    color: $sec-3;
  }
}

@media screen and (max-width: 1023px) {

}
@media screen and (max-width: 782px) {
  .logged-in #header {
    top: 46px;
  }
}
@media screen and (max-width: 950px) {
  .inner-navi {
    padding-top: 10rem;
    padding-bottom: 10rem;
    box-sizing: border-box;
    display: block;
    max-height: 100%;
    overflow-y: auto;
    transform: none;
    top: 0;
  }
  .nav-menu {
    width: auto;
    margin-bottom: 4.5rem;
    max-height: none;
  }
  .nav-contact {
    width: auto;

  }

  #navi li {
    font-size: 5rem;
    .sub-menu {
      display: block;
      li {
        display: block;
      }
    }
  }
  #logo {
    float: none;
    a {
      max-width: 115px;
      svg {
        display: block;
      }
    }
  }
  .menu-icon {
    width: 30px;
    height: 18px;
    border: none;
  }
  .header__right {
    float: none;
    align-items: center;
    .btn {
      &.btn--arrow {
        padding-right: 2rem !important;
        span {
          padding-right: 0;
        }
        i {
          display: none;
        }
      }
    }
  }
  .navi-active #header.scrolled {
    padding: 1rem 0;
  }
  #header {
    padding: 1rem 0;
    .inner {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:after {
        display: none;
      }
    }
  }
  .page-template-work-new-page {
    #header {
      padding: 1rem 0;

        &.scrolled {
          background: $purple-1 !important;
          padding: 1rem 0;
        }

    }
  }
}

@media screen and (max-height: 420px) {

}
